<div ng-controller="DashboardController as dashboard" class="margin-top-10">
 <div layout="column" layout-gt-sm="row">
  <div flex-gt-sm="50">
    <mh-widget>
      <mh-widget-next-events>
      </mh-widget-next-events>
    </mh-widget>
    <mh-widget>
      <mh-widget-last-notes>
      </mh-widget-last-notes>
    </mh-widget>
  </div>
  <div flex-gt-sm="50">
    <mh-widget>
      <mh-widget-person-next-birthdays>
      </mh-widget-person-next-birthdays>
    </mh-widget>
  </div>
 </div>
</div>
