<div class="mh-content" layout="column">
  <h2 translate>General</h2>
  <md-input-container >
    <label translate>Template Name</label>
    <input ng-model="ctrl.template.name">
  </md-input-container>
  
  <md-input-container >
    <label translate>Place</label>
    <input ng-model="ctrl.template.place">
  </md-input-container>
  
  <md-input-container >
    <label translate>Start Time</label>
    <input ng-model="ctrl.template.startTime" type="time">
  </md-input-container>
  
  <md-input-container>
    <label translate>Tags</label>
    <mh-tags ng-model="ctrl.template.tags" source="EventTemplate"></mh-tags>
  </md-input-container>
</div>

<div layout="row">
  <h3 translate>Options for the Template</h3>
  <md-button class="md-primary" ng-click="ctrl.newOption()">
    <translate>Add a option</translate>
  </md-button>
</div>

<div ng-repeat="option in ctrl.template.data">
  <div layout="column" layout-gt-xs="row" class="mh-content">
    <md-input-container>
      <label translate>Type</label>
      <md-select ng-model="option.type">
        <md-option ng-repeat="type in ctrl.types" value="{{type.value}}">{{type.name}}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex>
      <label translate>Label</label>
      <input ng-model="option.name">
    </md-input-container>
    <div layout-align="end center">
      <md-button  ng-click="ctrl.deleteOption($index)"><ng-md-icon icon="delete"></ng-md-icon> <translate>Remove</translate></md-button>
    </div>
  </div>
</div>

<div layout="row">
  <h3 translate>Schedules</h3>
  <md-button class="md-primary" ui-sref="event.newSchedule({templateId: ctrl.template.id})">
    <translate>Add a schedule</translate>
  </md-button>
</div>

<div class="mh-content">
  <div ng-repeat="schedule in ctrl.template.schedules">
    <a ui-sref="event.editSchedule({templateId: ctrl.template.id, index: $index})"> {{schedule.name}}</a>
  </div>
</div>


<div layout-align="end center" layout="row">
  <md-button class="md-primary" ng-click="ctrl.save()">
    <translate>Save</translate>
  </md-button>
</div>
