<div class="mh-content" layout="column">
  <h3 translate> <mh-avatar person="personCtrl.person" size="xs" circle class="avatar"></mh-avatar> Person Info</h3>

  <md-input-container>
    <label translate>First Name</label>
    <input name="firstName" ng-model="personCtrl.person.firstName" required>
  </md-input-container>

  <md-input-container ng-show="personCtrl.showExtended">
    <label translate>Middle Name</label>
    <input ng-model="personCtrl.person.middleName">
  </md-input-container>

  <md-input-container>
    <label translate>Last Name</label>
    <input name="lastName" ng-model="personCtrl.person.lastName" required>
  </md-input-container>
  <md-input-container  ng-show="personCtrl.showExtended">
    <label translate>Title</label>
    <input ng-model="personCtrl.person.prefix">
  </md-input-container>

  <md-input-container ng-show="personCtrl.showExtended">
    <label translate>Nickname</label>
    <input ng-model="personCtrl.person.nickName">
  </md-input-container>

  <md-input-container ng-show="personCtrl.showExtended">
    <label translate>Suffix</label>
    <input ng-model="personCtrl.person.suffix">
  </md-input-container>

  <md-input-container>
    <label translate>Status</label>
    <mh-person-status ng-model="personCtrl.person.status"></mh-person-status>
  </md-input-container>

  <md-input-container>
    <label translate>Tags</label>
    <mh-tags ng-model="personCtrl.person.tags" source="Person"></mh-tags>
  </md-input-container>

  <md-input-container >
    <label translate>Household</label>
    <mh-person-household ng-model="personCtrl.person.household"></mh-person-household>
  </md-input-container>

  <md-input-container >
    <label translate>Group</label>
    <mh-person-group ng-model="personCtrl.person.groups"></mh-person-group>
  </md-input-container>


  <md-radio-group ng-model="personCtrl.person.gender" layout="row" class="radio-inline">
    <md-radio-button value="m"> <translate>Male</translate></md-radio-button>
    <md-radio-button value="f"> <translate>Female</translate></md-radio-button>
  </md-radio-group>

  <md-button ng-click="personCtrl.showExtended = !personCtrl.showExtended">
    <ng-md-icon icon="extension" ng-attr-style="fill: {{personCtrl.showExtended  ? '#111' : '#999'}}">
    </ng-md-icon>
    <span ng-show="personCtrl.showExtended">Show less fields</span>
    <span ng-hide="personCtrl.showExtended">Show more fields</span>
  </md-button>

</div>

<div class="mh-content" layout="column">
  <h3> <ng-md-icon icon="phone"></ng-md-icon> Phones </h3>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="(key,contact) in personCtrl.person.contacts">
      <div class="md-list-item-text" layout="row" layout-xs="column">
       <mh-person-edit-type flex="33" key="key" type="contactTypes"></mh-person-edit-type>
        <md-input-container flex="66">
          <label>
            <ng-md-icon icon="{{personCtrl.personService.contactTypes[key].icon || 'phone'}}"></ng-md-icon>
            <span translate>{{personCtrl.personService.contactTypes[key].text}}</span>
          </label>
          <input ng-model="personCtrl.person.contacts[key]">
        </md-input-container>
      </div>
    </md-list-item>

    <md-list-item>
      <div class="md-offset">
        <md-button ng-click="personCtrl.addItem('contacts', 'contactTypes')"> Add new Phone</md-button>
      </div>
    </md-list-item>
  </md-list>
</div>

<div class="mh-content" layout="column">
  <h3> <ng-md-icon icon="email"></ng-md-icon> EMails </h3>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="(key,value) in personCtrl.person.emails">
      <div class="md-list-item-text" layout="row" layout-xs="column">
        <mh-person-edit-type flex="33" key="key" type="emailTypes"></mh-person-edit-type>
        <md-input-container flex="66">
          <label>
            <ng-md-icon icon="{{personCtrl.personService.contactTypes[key].icon || 'email'}}"></ng-md-icon>
            <span translate>{{personCtrl.personService.contactTypes[value.key].text}}</span>
          </label>
          <input ng-model="personCtrl.person.emails[key]">
        </md-input-container>
      </div>
      <md-divider></md-divider>
    </md-list-item>

    <md-list-item>
      <div class="md-offset">
        <md-button ng-click="personCtrl.addItem('emails', 'emailTypes')"> Add new EMail Address</md-button>
      </div>
    </md-list-item>
  </md-list>

</div>

<div class="mh-content" layout="column">
  <h3> <ng-md-icon icon="cake"></ng-md-icon> Dates </h3>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="(key,value) in personCtrl.person.dates">
      <div class="md-list-item-text" layout="row" layout-xs="column">
        <mh-person-edit-type flex="33" key="key" type="dateTypes"></mh-person-edit-type>
        <mh-utc-date-input ng-model="personCtrl.person.dates[key]" placeholder="Enter date"></mh-utc-date-input>
      </div>
       <md-divider></md-divider>
    </md-list-item>

    <md-list-item >
      <div class="md-offset">
        <md-button ng-click="personCtrl.addItem('dates', 'dateTypes')"> Add new Date</md-button>
      </div>
    </md-list-item>
  </md-list>
</div>

<div class="mh-content" layout="column">
  <h3> <ng-md-icon icon="extension"></ng-md-icon> Custom Fields</h3>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="(key,value) in personCtrl.person.custom">
     <div class="md-list-item-text" layout="row">
        <md-input-container flex="33">
          <label> Key </label>
          <input ng-model="key">
        </md-input-container>

        <md-input-container flex="66">
          <label> Value </label>
          <input ng-model="personCtrl.person.custom[key]">
        </md-input-container>
      </div>
      <md-divider></md-divider>
    </md-list-item>

    <md-list-item >
      <div class="md-offset">
        <md-button ng-click="personCtrl.addItem('custom', '')"> Add new Custom Field</md-button>
      </div>
    </md-list-item>
  </md-list>
</div>
