<md-tabs md-dynamic-height md-border-bottom>
  <md-tab>
    <md-tab-label>PDF Export</md-tab-label>
    <md-tab-body class="md-padding">
      <div ng-include="'app/modules/person/views/person.export.pdf.html'"></div>
    </md-tab-body>
  </md-tab>

  <md-tab>
    <md-tab-label>CSV Export</md-tab-label>
    <md-tab-body class="md-padding">
      <div ng-include="'app/modules/person/views/person.export.csv.html'"></div>
    </md-tab-body>
  </md-tab>
  <md-tab>
    <md-tab-label>VCard Export</md-tab-label>
    <md-tab-body class="md-padding">
      <div ng-include="'app/modules/person/views/person.export.vcard.html'"></div>
    </md-tab-body>
  </md-tab>
  <md-tab>
    <md-tab-label>Images Export</md-tab-label>
    <md-tab-body class="md-padding">
      <div ng-include="'app/modules/person/views/person.export.images.html'"></div>
    </md-tab-body>
  </md-tab>
</md-tabs>








