<a 
  ui-sref="{{item.route}}" 
  ui-sref-active="md-accent" 
  ng-if="!item.children">
  <md-button ng-click="closeMenuBar()" class="side-menu-link" aria-label="Close Menu Bar">

    <div layout="row">
      <div><ng-md-icon size="24" icon="{{item.icon}}"></ng-md-icon></div>
      <div flex ng-if="iconVisible()"><span class="nav-label">{{item.label | translate}}</span></div>
    </div>
  </md-button>
</a>

<md-button 
  ng-if="item.children" 
  ng-click="toggle()" 
  class="side-menu-link" 
  aria-label="{{item.label | translate}}">
  <div layout="row">
    <div>
      <ng-md-icon size="24" icon="{{item.icon}}"></ng-md-icon>
    </div>
    <div ng-if="iconVisible()">
      <span class="nav-label">{{item.label | translate}}</span>
    </div>
    <div flex ng-if="iconVisible()">
      <ng-md-icon 
        size="18" 
        icon="{{icon()}}" 
        options='{"duration": 375, "rotation": "none"}' 
        class='icon-arrow'
      >
      </ng-md-icon>
    </div>
  </div>
</md-button>

<ul ng-if="item.children" class="menu-nested-list fadein fadeout" ng-show="isOpen()" >
  <li ng-repeat="child in item.children">
      <md-button ng-click="closeMenuBar()" class="side-menu-link" ui-sref="{{child.route}}" ui-sref-active="md-accent">
        <ng-md-icon class="item-icon" size="24" icon="{{child.icon}}"></ng-md-icon>
        <span class="nav-label-sub">{{child.label | translate}}</span>
      </md-button>
  </li>
</ul>
