<div [fxLayout]="row" [fxLayout.sm]="column" fxLayoutAlign="start stretch">
    <div fxFlex="20" fxFlex.sm="100" fxLayoutAlign="space-between start">
        <md-card fxFlex>
            <md-card-actions fxFlex  fxLayoutAlign="space-between center">
                <a md-button><md-icon>chevron_left</md-icon>Previous</a>
                <a md-button>Next<md-icon>chevron_right</md-icon></a>
            </md-card-actions>
            <img md-card-image src="{{person?.avatarUrlBig}}" alt="...">
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <md-icon md-list-avatar>email</md-icon>
                        <div md-line>{{person?.email}}</div>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-list-avatar>call</md-icon>
                        <div md-line>{{person?.phone}}</div>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-list-avatar>place</md-icon>
                        <div md-line>{{person?.address}}</div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div fxFlex fxFill>
        <md-card fxFlexOffset="10px">
            <md-tab-group>
                <md-tab label="Notizen">

                </md-tab>
                <md-tab label="Bearbeiten">
                    <form class="person-edit" [fxLayout]="row">
                        <div fxFlex="50">
                            <div>
                                <md-input-container><input mdInput value="{{person?.prefix}}" placeholder="Prefix" i18n-placeholder="Prefix"></md-input-container>
                            </div>
                            <div>
                                <md-input-container><input mdInput value="{{person?.firstName}}" placeholder="Firstname" i18n-placeholder="Firstname"></md-input-container>
                            </div>
                            <div>
                                <md-input-container><input mdInput value="{{person?.middleName}}" placeholder="Middlename" i18n-placeholder="Middlename"></md-input-container>
                            </div>
                            <div>
                                <md-input-container><input mdInput value="{{person?.lastName}}" placeholder="Surname" i18n-placeholder="Surname"></md-input-container>
                            </div>
                            <div>
                                <md-input-container><input mdInput value="{{person?.nickName}}" placeholder="Nickname" i18n-placeholder="Nickname"></md-input-container>
                            </div>
                            <div>
                                <md-input-container><input mdInput value="{{person?.suffix}}" placeholder="Suffix" i18n-placeholder="Suffix"></md-input-container>
                            </div>
                            <div>
                                <md-input-container><input mdInput value="{{person?.email}}" placeholder="Email" i18n-placeholder="Email"></md-input-container>
                            </div>
                            <div>
                                <md-input-container><input mdInput value="{{person?.gender}}" placeholder="Gender" i18n-placeholder="Gender"></md-input-container>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div>
                                <md-input-container><input mdInput value="{{user?.username}}" placeholder="Username" i18n-placeholder="Username"></md-input-container>
                            </div>
                            <div>
                                <md-input-container><input mdInput value="{{user?.passwordHash}}" placeholder="Password" i18n-placeholder="Password"></md-input-container>
                            </div>
                        </div>
                    </form>
                </md-tab>
                <md-tab label="Aktivität" i18n-label="Aktivität">

                </md-tab>
                <md-tab label="Familie" i18n-label="Familie">

                </md-tab>
                <md-tab label="Gruppen" i18n-label="Gruppen">

                </md-tab>
            </md-tab-group>
        </md-card>
    </div>
</div>