.person-card {
  .person-card-header {
    height: 100px;
    img[md-card-avatar] {
      height: 80px;
      width: 80px;
    }
    md-card-subtitle {
      md-icon {
        font-size: 16px;
      }
      a {
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}