.md-chips .md-chip {
  .md-chip-remove-container {
    display: -webkit-box;
  }
  border-radius: 20px;

  background-color: background-color('100');
  border: 1px solid #fff;

  button {
    height: 24px !important;
    width: 24px !important;
    line-height: 30px;
    border-radius: 50%;
    margin: 4px 2px 0 4px !important;
    transition: background 0.15s linear;
    display: block;

    md-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(0.7);
      color: #666;
      fill: #666;
    }
  }
}

.status-chips .md-chips .md-chip {
  background-color: accent-color('100');
  border: 1px solid darken(accent-color('100'), 5%);
}


