.toast-success > .md-toast-content {
  background-color: #4D9617;
}

.toast-warning > .md-toast-content{
  background-color: accent-color('500');
}

.toast-error > .md-toast-content{
  background-color: #A60000;
  max-height: 100px;
}

.toast-message > .md-toast-content{
  background-color: primary-color('500');
}

.toast-info > .md-toast-content{
  background-color: #BBBBBB;
}

md-toast {
  // https://github.com/angular/material/issues/1106
  position: fixed !important;
}
