<mat-form-field floatPlaceholder="always" fxFlex>
  <mat-chip-list #chipList>
    <mat-icon matPrefix>label_outline</mat-icon>
    <mat-chip *ngFor="let tag of value"
              (remove)="remove(tag, chipInput)"
              (keydown.ArrowRight)="last && selectInput($event)">
        {{tag.text}}
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input [matChipInputFor]="chipList"
           [matChipInputAddOnBlur]="false"
           [matAutocomplete]="auto"
           (keydown.enter)="addTextChip(chipInput)"
           (input)="textChanged(chipInput.value)"
           placeholder="{{placeholder}}"
           #chipInput>
  </mat-chip-list>
  <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="add($event)">
    <mat-option *ngFor="let tag of filteredSources" [value]="tag">
      <span>{{ tag.text }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>