@import "../../theme.scss";

.mat-card {
  margin: 0;
  padding: 48px
}
.mat-progress-bar {
  z-index: 10;
  height: 3px;
}
.login-container {
  background-color: #D8D8D6;
  background: url(/assets/images/login/bg/2.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;

  .loading-holder {
    height: 5px;
  }

  .logo {
    text-align: center;
    mat-icon {
      width: 80px;
      height: 80px
    }
  }
  .login-content {
    @media screen and (min-width: 800px) {
      width: 360px;
    }
    @media screen and (max-width: 800px) {
      width: 70%;
    }
    margin: 20px auto;

    background-color: rgba(255,255,255,0.9) !important;

    .error {
      margin: 16px 0;
      color: mat-color($mh-app-warn, 500);
    }
  }
}
