
<div class="mh-content">
  <div layout="row">
    <h2>{{ctrl.template.name}}</h2> 
    <md-button ui-sref="event.template({templateId: ctrl.template.id})"><ng-md-icon icon="edit"></ng-md-icon> Edit</md-button>
  </div>
  
  <div ng-if="ctrl.events.length == 0">
    <ng-md-icon icon="info"></ng-md-icon> <b translate>No Events found</b> 
    <p translate>Add a new event using the button at the bottom right</p>
  </div>
  <md-list ng-if="ctrl.events.length > 0">
    <md-list-item ng-repeat="event in ctrl.events track by event.id">
      <h3><a ui-sref="event.edit({eventId: event.id})">{{event.date | date:'mediumDate'}}</a></h3>
    </md-list-item>
  </md-list>
</div>

<md-button ui-sref="event.create({templateId: ctrl.template.id})" class="md-fab md-fab-floating-br md-accent" aria-label="Add New Event">
  <ng-md-icon icon="add"></ng-md-icon>
</md-button>

