<button mat-icon-button
        [matMenuTriggerFor]="interactionsMenu"
        matTooltip="Interactions"
        [class.has-interactions]="outstandingInteractions?.length">
    <mat-icon *ngIf="!outstandingInteractions?.length">forum</mat-icon>
    <b *ngIf="outstandingInteractions?.length">{{outstandingInteractions.length}}</b>
</button>

<mat-menu #interactionsMenu="matMenu">
    <div *ngIf="!outstandingInteractions?.length" class="no-interactions">No interactions</div>
    <mat-nav-list *ngIf="outstandingInteractions?.length">
        <mat-list-item *ngFor="let interaction of outstandingInteractions">
                        <span mat-list-avatar class="date-rounded" *ngIf="interaction.dueOn">
                            {{interaction.dueOn | date: 'MMM d'}}
                        </span>
            <mat-icon mat-list-icon *ngIf="!interaction.dueOn">hourglass_empty</mat-icon>
            <span matLine>
                <span *ngIf="interaction.actionType">{{interaction.actionType}}: </span>
                {{interaction.text | slice:0:20}}...</span>
            <span matLine *ngIf="interaction.author.id !== _auth.getPersonId()">{{interaction.author.name}}</span>
        </mat-list-item>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/interaction/create" fxFlex>
        <mat-icon>forum</mat-icon> <ng-container i18n>Create Interaction</ng-container>
    </button>
</mat-menu>
