<div class="main-content">
    <form [formGroup]="settingsForm"
          (keyup)="onKey($event)"
          novalidate
          fxFlex>
        <h4 i18n>System</h4>
        <mat-accordion formGroupName="system">
            <mat-expansion-panel #sysToolbar [hideToggle]="hideToggle">
                <mat-expansion-panel-header i18n>Church Details</mat-expansion-panel-header>
                <div fxLayout="row">
                    <mat-form-field fxFlex>
                        <input matInput
                               fxFlex
                               type="text"
                               placeholder="Name of Church"
                               i18n-placeholder
                               formControlName="churchName">
                    </mat-form-field>
                </div>
                <div formGroupName="churchAddress" fxFlex>
                    <div fxLayout="row">
                        <mat-form-field fxFlex>
                            <input matInput
                                   type="text"
                                   formControlName="street"
                                   placeholder="Street"
                                   i18n-placeholder>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field>
                            <input matInput
                                   type="text"
                                   formControlName="zip"
                                   placeholder="Postal Code"
                                   i18n-placeholder>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   type="text"
                                   formControlName="city"
                                   placeholder="City"
                                   i18n-placeholder>
                        </mat-form-field>
                        <div formGroupName="geocode" fxLayout="row">
                            <mat-form-field>
                                <input matInput
                                       type="text"
                                       formControlName="lat"
                                       placeholder="Latitude"
                                       i18n-placeholder>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput
                                       type="text"
                                       formControlName="lng"
                                       placeholder="Longitude"
                                       i18n-placeholder>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel #sysGeneral [hideToggle]="hideToggle">
                <mat-expansion-panel-header i18n>General</mat-expansion-panel-header>
                <div fxLayout="row">
                    <mat-form-field fxFlex>
                        <input matInput
                               fxFlex
                               type="text"
                               placeholder="Google API Key"
                               i18n-placeholder
                               formControlName="googleApiKey">
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <h4 i18n>Person</h4>
        <mat-accordion formGroupName="people">
            <mat-expansion-panel #personPanelList [hideToggle]="hideToggle">
                <mat-expansion-panel-header i18n>List People</mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutGap="10px">
                    <fieldset fxFlex="50">
                        <legend i18n>Selected</legend>
                        <div class='container' [dragula]='"PEOPLE_LIST"' [dragulaModel]='personAttrSelected'>
                            <div *ngFor="let element of personAttrSelected" class="div draggable-item" [innerHtml]='element'></div>
                        </div>
                    </fieldset>
                    <fieldset fxFlex="50">
                        <legend i18n>Available</legend>
                        <div class="container" [dragula]='"PEOPLE_LIST"' [dragulaModel]='personAttr'>
                            <div *ngFor="let element of personAttr" class="div" [innerHtml]='element'></div>
                        </div>
                    </fieldset>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel
                    #personPanelList
                    [hideToggle]="hideToggle">
                <mat-expansion-panel-header i18n>Marital Status</mat-expansion-panel-header>
                <mat-form-field fxFlex>
                    <input matInput
                           fxFlex
                           type="text"
                           placeholder="Add Status"
                           i18n-placeholder
                           #newMaritalStatus>
                </mat-form-field>
                <button mat-icon-button (click)="addMaritalStatus(newMaritalStatus)">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
                <fieldset formArrayName="maritalStatus">
                    <legend i18n>Available</legend>
                    <div *ngFor="let status of maritalStatus?.controls; let i=index"
                         [formGroupName]="i">
                        <mat-icon class="handle">drag_handle</mat-icon>
                        <mat-form-field fxFlex>
                            <input matInput
                                   fxFlex
                                   type="text"
                                   placeholder="Status"
                                   i18n-placeholder
                                   formControlName="status">
                        </mat-form-field>
                        <button mat-icon-button (click)="removeMaritalStatus(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </fieldset>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
</div>
