node_modules/
dist/
tmp/
trash/

*.log
*.tgz
.idea/
api/shares.sec
api/vendor
deploy/
mobile/resources/android/**
mobile/resources/ios/**

# api
api/config/mail_local.php
api/config/secrets.php
api/config/db_local.php

# core
core/typings/

# web
web/typings/
web/e2e/*.d.ts

# mobile
mobile/www/build/
mobile/platforms/
mobile/plugins/
mobile/typings/
*.swp

.DS_Store
Thumbs.db
.afdesign
mobile/resources/android/
mobile/resources/ios/
web/src/assets/icons/memberhive.afdesign
