<div class="interactions" *ngIf="interactions">
    <md-card *ngFor="let interaction of interactions">
        <md-card-header fxLayout="row">
            <md-icon md-card-avatar
                     mdTooltip="{{interaction.type | uppercase}}"
                     class="mat-icon material-icons {{interaction.type | lowercase}}">
                {{getType(interaction.type)}}
            </md-icon>
            <div fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
                {{interaction.updatedAt | date: 'medium'}} - &nbsp; <span i18n>by</span> &nbsp;
                <a *ngIf="!iOwn(interaction.author.id)" [routerLink]="['/person/view', interaction.author.id]">
                    {{interaction.author.name}}
                </a>
                <span *ngIf="iOwn(interaction.author.id)" i18n>me</span>
            </div>
            <button md-icon-button [mdMenuTriggerFor]="interactionmenu"><md-icon>more_vert</md-icon></button>
            <md-menu #interactionmenu="mdMenu">
                <button md-menu-item [routerLink]="['/interaction/edit', interaction.uid]">
                    <md-icon>edit</md-icon>
                    <span i18n>Edit</span>
                </button>
                <button md-menu-item (click)="delete(interaction)">
                    <md-icon>delete</md-icon>
                    <span i18n>Delete</span>
                </button>
            </md-menu>
        </md-card-header>
        <md-card-content>
          {{interaction.text}}
            <div *ngIf="interaction.recipients.length > 0" class="responsible-list">
                <span i18n>Assigned: </span>
                <ng-container *ngFor="let recipientId of interaction.recipients; let i = index">
                    <span class="responsible"
                          [class.responsible-complete]="interaction.actions[recipientId].completedOn"
                          [class.responsible-done]="interaction.actions[recipientId].doneOn">
                        {{recipientTag(recipientId)}}
                    </span>
                </ng-container>
            </div>
        </md-card-content>
    </md-card>
</div>
