<div class="interactions" *ngIf="interactions">
    <md-card *ngFor="let interaction of interactions">
        <md-card-header fxLayout="row">
            <div fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
                <md-icon md-card-avatar>{{getType(interaction.type)}}</md-icon>
                {{interaction.updatedAt | date: 'medium'}}
                - <span i18n>by</span>
                <a *ngIf="!iOwn(interaction.author.id)" [routerLink]="['/person/view', interaction.author.id]">
                    {{interaction.author.name}}
                </a>
                <span *ngIf="iOwn(interaction.author.id)" i18n>me</span>
            </div>
            <button md-icon-button [mdMenuTriggerFor]="interactionmenu"><md-icon>more_vert</md-icon></button>
            <md-menu #interactionmenu="mdMenu">
                <button md-menu-item (click)="openDlgInteractions(interaction)">
                    <md-icon>edit</md-icon>
                    <span i18n>Edit</span>
                </button>
                <button md-menu-item (click)="deleteInteraction(interaction)">
                    <md-icon>delete</md-icon>
                    <span i18n>Delete</span>
                </button>
            </md-menu>
        </md-card-header>
        <md-card-content>{{interaction.text}}</md-card-content>
    </md-card>
</div>