md-list-item {
  padding: 10px
}
md-card-header {
  margin: -8px 0 4px;
  height: 24px;
  .md-card-header-text {
    height:24px;
  }
}
md-card-content {
  margin-bottom: 4px;
}
md-card-actions {
  padding: 0;
  button {
    md-icon {
      font-size: 18px
    }
  }
}
.responsible {
    padding: 3px;
    border: 1px solid #333;
    margin-right: 2px
}
.responsible.responsible-complete {
    background-color: #cccccc !important;
    color: #999;
    border-color: #aeaeae;
}
.responsible.responsible-done {
    background-color: #9acb39 !important;
}
