<div class="mh-content" ng-if="groupCtrl.groups.length == 0">
  <h2 translate><ng-md-icon icon="info"></ng-md-icon> No Groups found</h2>
  <translate> There are no groups in the database. You can add a Groups using the button at the bottom right.</translate>
</div>
<md-list class="mh-content" ng-if="groupCtrl.groups.length > 0">
  <md-list-item ng-repeat="group in groupCtrl.groups">
    <div>
      <md-menu>
        <md-button aria-label="Open menu" class="md-icon-button md-action-icon-button" ng-click="$mdOpenMenu($event)">
          <ng-md-icon icon="group"></ng-md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="groupCtrl.deleteGroup(group)">
              <ng-md-icon icon="delete"></ng-md-icon>
              Delete
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <div class="md-list-item-text">
        <h3><a ui-sref="group.view({ id: group.id })">{{group.name}}</a></h3>
        <p class="text-muted">{{group.description | limitTo: 100}} 
          <span ng-repeat="tag in ::group.tags" class="tag">
            {{ ::tag }}
          </span>
        
        </p>
      
    </div>

    <md-divider ></md-divider>
  </md-list-item>
</md-list>

<a ui-sref="group.create">
  <md-button class="md-fab md-fab-floating-br md-accent">
    <md-tooltip md-direction="top">
      <translate>Add new group</translate>
    </md-tooltip>
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
</a>
