.text-muted {
  color: lighten($text-color-dark, 10%);
  a {
    color: desaturate(primary-color('400'), 75%);
    text-decoration: none;
  }

  a:visited, a:hover {
    text-decoration: none;
    color: desturate(primary-color('600'), 75%);
  }
}


a {
  color: primary-color('400');
  text-decoration: none;
}

a:visited, a:hover {
  text-decoration: none;
  color: primary-color('600');
}

.text-dark, .text-dark:visited {
  color: $text-color-dark;
  fill: $text-color-dark;
}
.text-light, .text-light:visited {
  color: $text-color-light;
  fill: $text-color-light;
}
.simple-link, .simple-link:visited, .simple-link:active {
  color: $text-color-dark;
}
