.header-toolbar {
  background-color: $toolbar-background-color !important;
  min-height: $toolbar-height;
  max-height: $toolbar-height;
  .sub-title {
    margin-right: 1em;
    line-height: 2em;
    white-space: nowrap;
  }
  .md-icon-button {
    fill: $text-color-light;
  }
  form, md-menu, .md-icon-button {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  div.item {
    height: $toolbar-height;
    span {
      padding-left: 1em;
      line-height: $toolbar-height;
    }
  }
  
  div.button {
  }
  
  div.search {
    margin-left: 1em;
    color: $text-color-light !important;
    padding-top: 5px;
  }
  
}

