.search-group {
  top: 5px;
  border: 2px solid #cecece;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  .btn-group button {
    height: 40px;
    border-radius: 0;
    background-color: #EEEEEE;
    border-right: 2px solid #CCCCCC;
  }

  .bootstrap-select > button.selectpicker {
    border:0;
    background: rgba(146, 203, 253, 0.33);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 40px
  }
  .search-field {
    border: 0;
    max-width: 680px;
    min-width: 150px;
    width: 480px;
    padding: 5px 0 1px 140px;
    position: relative;
    height: 40px
  }
  .search-btn-group {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 40px
  }
  .search-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    height: inherit;
  }
  .bootstrap-select {
    width: 135px;
    position: absolute;
    .btn.dropdown-toggle {
      z-index: 1;
    }
  }
}
.big{
  color: #484848;
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
}
.middle{
  color: #484848;
  font-size: 16px;
  font-weight: 200;
  padding: 5px;
}
