@import 'theme';

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #e0e0e0 !important;
  color: #202020;
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
mh-app {
  height: 100%;
  width: 100%;
}
button.mh-submit {
  background-color: mat-color($mh-app-green, 500) !important;
  color: #ffffff !important;
  margin: 10px 0 !important;
  font-weight: 800 !important;
}
.shout-success {
  background: mat-color($mh-app-green, 500) !important;
}
.shout-failure {
  background: mat-color($mh-app-warn, A400) !important;
}
.date-rounded {
  font-weight: 600;
  font-size: 14px;
  background: mat-color($mh-app-warn, A200);
  color: #fff;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
}
.mh-input-wrapper {
  padding-top: 1.1em;
  padding-bottom: 1.2em;
}
mat-icon[matPrefix] {
  padding-right: 10px;
  color: #888;
}
.m-b-10 {
  margin-bottom: 10px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-r-30 {
  padding-right: 30px;
}
/** Hacks, until Material2 allows changes to these classes from component level **/
.mat-autocomplete-panel {
  max-width: none !important;
}
.dashlet-card {
  .mat-card-header {
    .mat-card-header-text {
      width: 100% !important;
    }
  }
}
.mat-fab.mat-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  z-index: 100;
}

/** input fields of type search display wrong in Safari (see https://github.com/angular/material2/issues/5008) **/
input[type='search'] {
  -webkit-appearance: none;
}

.main-content {
  padding: 0.8em;
  box-sizing: border-box;
}
.mat-icon.mat-icon-logo {
  width: 38px;
}
.mh-layout-manage-list {
  .mat-sidenav {
    background: rgb(56, 53, 53);
    .list {
      .mat-nav-list {
        background: rgb(56, 53, 53);
        .mat-list-item,
        .mat-icon {
          color: #ffffff;
          h4 {
            font-size: 16px;
          }
        }
      }
    }
    .mat-divider {
      border-top-color: #666;
    }
  }
}
