<form class="person-form"
      #personEditForm="ngForm"
      [formGroup]="form"
      (ngSubmit)="save(form.value)"
      (keyup)="onKey($event)"
      novalidate>

    <fieldset fxFlex="100">
        <legend i18n>Status</legend>
        <mh-tags [source]="tagSource"
                 formControlName="status"></mh-tags>
    </fieldset>

    <div fxLayout.gt-sm="row"
         fxLayout.xs="column">
        <fieldset fxFlex.xs="100" fxFlex.gt-sm="50">
            <legend i18n>Personal</legend>
            <div>
                <mat-form-field fxFlex>
                    <input matInput fxFlex
                           type="text"
                           formControlName="firstName"
                           placeholder="First Name" i18n-placeholder
                           required>
                </mat-form-field>
                <mat-error *ngIf="!form.get('firstName').valid && !form.get('firstName').pristine" i18n>
                    First name is required (minimum 2 characters).
                </mat-error>
            </div>
            <div>
                <mat-form-field>
                    <input matInput fxFlex type="text" formControlName="middleName" placeholder="Middle Name" i18n-placeholder>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput fxFlex
                           type="text"
                           formControlName="lastName"
                           placeholder="Lastname" i18n-placeholder
                           required>
                </mat-form-field>
                <mat-error *ngIf="!form.get('lastName').valid && !form.get('lastName').pristine" i18n>
                    Lastname is required (minimum of 2 characters)
                </mat-error>
            </div>
            <div class="mh-input-wrapper">
                <mat-radio-group formControlName="gender" fxFlex>
                    <mat-radio-button value="f" i18n>Female</mat-radio-button>
                    <mat-radio-button value="m" i18n>Male</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <mat-form-field>
                    <input matInput fxFlex
                           type="email"
                           formControlName="email"
                           placeholder="Email" i18n-placeholder
                           email required>
                </mat-form-field>
                <mat-error *ngIf="form.get('email').hasError('pattern')" i18n>
                    Please provide a proper email address
                </mat-error>
            </div>
            <div class="mh-input-wrapper">
                <mat-select name="maritalStatus" formControlName="maritalStatus" placeholder="Marital Status" i18n-placeholder>
                    <mat-option *ngFor="let mstatus of settings?.maritalStatus" [value]="mstatus.status">
                        {{mstatus.status}}
                    </mat-option>
                </mat-select>
            </div>
            <div fxLayout.gt-xs="row" fxLayout.xs="column">
                <mat-form-field>
                    <input matInput fxFlex type="tel" formControlName="phoneHome" placeholder="Phone (Home)" i18n-placeholder>
                </mat-form-field>
                <mat-form-field>
                    <input matInput fxFlex type="tel" formControlName="phoneMobile" placeholder="Phone (Mobile)" i18n-placeholder>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type="tel" matInput fxFlex type="tel" formControlName="phoneWork" placeholder="Phone (Work)" i18n-placeholder>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-icon matPrefix>cake</mat-icon>
                    <input matInput fxFlex
                           [matDatepicker]="dpBirthday"
                           formControlName="birthday"
                           placeholder="Birthday" i18n-placeholder
                           required>
                    <mat-datepicker-toggle matSuffix [for]="dpBirthday"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-error *ngIf="!form.get('birthday').valid && !form.get('birthday').pristine" i18n>
                    Birthday is required.
                </mat-error>
                <mat-datepicker #dpBirthday></mat-datepicker>
            </div>
            <div>
                <mat-form-field>
                    <mat-icon matPrefix>opacity</mat-icon>
                    <input matInput fxFlex
                           [matDatepicker]="dpBaptized"
                           formControlName="baptized"
                           placeholder="Baptized" i18n-placeholder>
                    <mat-datepicker-toggle matSuffix [for]="dpBaptized"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #dpBaptized></mat-datepicker>
            </div>
            <div>
                <mat-form-field>
                    <mat-icon matPrefix>alarm</mat-icon>
                    <input matInput fxFlex
                           [matDatepicker]="dpAnniversary"
                           formControlName="anniversary"
                           placeholder="Anniversary" i18n-placeholder>
                    <mat-datepicker-toggle matSuffix [for]="dpAnniversary"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #dpAnniversary></mat-datepicker>
            </div>
        </fieldset>
        <div fxFlex.gt-sm="50" fxFlexOffset.gt-sm="20px">
            <fieldset formGroupName="user">
                <legend i18n>Account</legend>
                <div>
                    <mat-form-field>
                        <input matInput
                               formControlName="username"
                               placeholder="Username"
                               (keyup)="enablePasswordFields()"
                               i18n-placeholder>
                    </mat-form-field>
                    <mat-error *ngIf="!form.get('user.username').valid" i18n>
                        Username is required (minimum of 4 characters)
                    </mat-error>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput
                               type="text"
                               formControlName="password"
                               placeholder="Password"
                               i18n-placeholder>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="space-between">
                    <mat-checkbox formControlName="setPassword"
                                  (change)="toggleRandomPassword($event)"
                                  i18n>Set new Password</mat-checkbox>
                    <mat-checkbox formControlName="noCredentials" i18n>Don't mail credentials</mat-checkbox>
                </div>
            </fieldset>
            <fieldset formGroupName="address" *ngIf="!inCreateMode()">
                <legend i18n>Addresses</legend>
                <div formGroupName="home">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <h4 i18n>Home</h4>
                    </div>
                    <mat-form-field>
                        <input matInput
                               type="text"
                               formControlName="street"
                               placeholder="Street"
                               i18n-placeholder>
                    </mat-form-field>
                    <div fxLayout="row">
                        <mat-form-field>
                            <input matInput
                                   type="text"
                                   formControlName="zip"
                                   placeholder="Postal Code"
                                   i18n-placeholder>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   type="text"
                                   formControlName="city"
                                   placeholder="City"
                                   i18n-placeholder>
                        </mat-form-field>
                    </div>
                </div>
                <div formGroupName="postal">
                    <h4 i18n>Postal <small>(if it differs from home address)</small></h4>
                    <mat-form-field>
                        <input matInput
                               type="text"
                               formControlName="street"
                               placeholder="Street"
                               i18n-placeholder>
                    </mat-form-field>
                    <div fxLayout="row">
                        <mat-form-field>
                            <input matInput
                                   type="text"
                                   formControlName="zip"
                                   placeholder="Postal Code"
                                   i18n-placeholder>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   type="text"
                                   formControlName="city"
                                   placeholder="City"
                                   i18n-placeholder>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>
            <button mat-raised-button
                    *ngIf="inCreateMode()"
                    type="submit"
                    class="mh-submit"
                    i18n>SUBMIT</button>
        </div>
    </div>
</form>
