<form class="person-form"
      #personEditForm="ngForm"
      [formGroup]="form"
      (ngSubmit)="save(form.value, form.valid)"
      novalidate
      fxLayout.gt-sm="row"
      fxLayout.xs="column">
    <fieldset fxFlex.xs="100" fxFlex.gt-sm="50">
        <legend i18n>Personal</legend>
        <div>
            <md-input-container fxFlex>
                <input mdInput fxFlex
                       type="text"
                       formControlName="firstName"
                       placeholder="First Name" i18n-placeholder
                       required>
            </md-input-container>
            <md-error *ngIf="!form.get('firstName').valid && !form.get('firstName').pristine" i18n>
                First name is required (minimum 2 characters).
            </md-error>
        </div>
        <div>
            <md-input-container>
                <input mdInput fxFlex type="text" formControlName="middleName" placeholder="Middle Name" i18n-placeholder>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput fxFlex
                       type="text"
                       formControlName="lastName"
                       placeholder="Lastname" i18n-placeholder
                       required>
            </md-input-container>
            <md-error *ngIf="!form.get('lastName').valid && !form.get('lastName').pristine" i18n>
                Lastname is required (minimum of 2 characters)
            </md-error>
        </div>
        <div class="mh-input-wrapper">
            <md-radio-group formControlName="gender" fxFlex>
                <md-radio-button value="f" i18n>Female</md-radio-button>
                <md-radio-button value="m" i18n>Male</md-radio-button>
            </md-radio-group>
        </div>
        <div>
            <md-input-container>
                <input mdInput fxFlex
                       type="email"
                       formControlName="email"
                       placeholder="Email" i18n-placeholder
                       email required>
            </md-input-container>
            <md-error *ngIf="form.get('email').hasError('pattern')" i18n>
                Please provide a proper email address
            </md-error>
        </div>
        <div class="mh-input-wrapper">
            <md-select name="maritalStatus" formControlName="maritalStatus" placeholder="Marital Status" i18n-placeholder>
                <md-option *ngFor="let mstatus of settings?.maritalStatus" [value]="mstatus.status">
                    {{mstatus.status}}
                </md-option>
            </md-select>
        </div>
        <div fxLayout.gt-xs="row" fxLayout.xs="column">
            <md-input-container>
                <input mdInput fxFlex type="tel" formControlName="phoneHome" placeholder="Phone (Home)" i18n-placeholder>
            </md-input-container>
            <md-input-container>
                <input mdInput fxFlex type="tel" formControlName="phoneMobile" placeholder="Phone (Mobile)" i18n-placeholder>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input type="tel" mdInput fxFlex type="tel" formControlName="phoneWork" placeholder="Phone (Work)" i18n-placeholder>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput fxFlex
                       [mdDatepicker]="dpBirthday"
                       formControlName="birthday"
                       placeholder="Birthday" i18n-placeholder
                       required>
                <button mdSuffix [mdDatepickerToggle]="dpBirthday"></button>
            </md-input-container>
            <md-error *ngIf="!form.get('birthday').valid && !form.get('birthday').pristine" i18n>
                Birthday is required.
            </md-error>
            <md-datepicker #dpBirthday></md-datepicker>
        </div>
    </fieldset>
    <div fxFlex.gt-sm="50" fxFlexOffset.gt-sm="20px">
        <fieldset formGroupName="user">
            <legend i18n>Account</legend>
            <div>
                <md-input-container>
                    <input mdInput formControlName="username" placeholder="Username" i18n-placeholder>
                </md-input-container>
                <md-error *ngIf="!form.get('user.username').valid" i18n>
                    Username is required (minimum of 4 characters)
                </md-error>
            </div>
            <div>
                <md-input-container>
                    <input mdInput
                           type="text"
                           formControlName="password"
                           placeholder="Password"
                           i18n-placeholder>
                </md-input-container>
            </div>
            <div fxLayoutAlign="space-between">
                <md-checkbox formControlName="setPassword"
                             (change)="toggleRandomPassword($event)" i18n>Set new Password</md-checkbox>
                <md-checkbox formControlName="noCredentials" i18n>Don't mail credentials</md-checkbox>
            </div>
        </fieldset>
        <fieldset formGroupName="address">
            <legend i18n>Addresses</legend>
            <div formGroupName="home">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <h4 i18n>Home</h4>
                </div>
                <md-input-container>
                    <input mdInput
                           type="text"
                           formControlName="street"
                           placeholder="Street"
                           i18n-placeholder>
                </md-input-container>
                <div fxLayout="row">
                    <md-input-container>
                        <input mdInput
                               type="text"
                               formControlName="zip"
                               placeholder="Postal Code"
                               i18n-placeholder>
                    </md-input-container>
                    <md-input-container>
                        <input mdInput
                               type="text"
                               formControlName="city"
                               placeholder="City"
                               i18n-placeholder>
                    </md-input-container>
                </div>
            </div>
            <div formGroupName="postal">
                <h4 i18n>Postal <small>(if it differs from home address)</small></h4>
                <md-input-container>
                    <input mdInput
                           type="text"
                           formControlName="street"
                           placeholder="Street"
                           i18n-placeholder>
                </md-input-container>
                <div fxLayout="row">
                    <md-input-container>
                        <input mdInput
                               type="text"
                               formControlName="zip"
                               placeholder="Postal Code"
                               i18n-placeholder>
                    </md-input-container>
                    <md-input-container>
                        <input mdInput
                               type="text"
                               formControlName="city"
                               placeholder="City"
                               i18n-placeholder>
                    </md-input-container>
                </div>
            </div>
        </fieldset>
        <button md-raised-button
                *ngIf="inCreateMode()"
                type="submit"
                i18n>SUBMIT</button>
    </div>
</form>