<div class="main-content">
    <mh-filter></mh-filter>
    <div fxLayout='column'>
        <mat-card *ngFor="let person of people$ | async" class="nav-list">
            <a mat-list-item [routerLink]="['/person/view', person.uid]">
                <mat-card-header fxLayout.gt-sm="row" fxLayout.xs="column">
                    <img mat-card-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
                    <mat-card-title>{{person.fullName}}</mat-card-title>
                    <mat-card-subtitle class="list-detail">
                        <ng-container *ngFor="let opt of options">
                            <span matLine *ngIf="opt === 'birthday'">{{person.birthday | date: 'mediumDate'}}</span>
                            <span matLine *ngIf="opt === 'email'">{{person.email}}</span>
                            <span matLine *ngIf="opt === 'age'">{{person.age}}</span>
                            <span matLine *ngIf="opt === 'gender'">
                                <b *ngIf="person.gender === 'f'" i18n>female</b>
                                <b *ngIf="person.gender === 'm'" i18n>male</b>
                            </span>
                            <!-- TODO: fix spacing issues -->
                            <span matLine
                                  *ngIf="opt === 'status' && person?.status.length > 0"
                                   >
                                <mat-basic-chip *ngFor="let tag of person?.status" class="status-chip">{{tag.text}}</mat-basic-chip>
                            </span>
                        </ng-container>
                    </mat-card-subtitle>
                </mat-card-header>
            </a>
        </mat-card>
    <!--<mat-nav-list>
        <a mat-list-item *ngFor="let person of people$ | async" [routerLink]="['/person/view', person.uid]">
            <img mat-list-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
            <div class="mat-list-text" fxLayout="row">
                <h2 fxFlex="25">{{person.fullName}}</h2>
                <div fxFlex matLine fxLayout="row" class="list-detail">
                    <span *ngIf="display('birthday')">{{person.birthday | date: 'mediumDate'}}</span>
                    <span *ngIf="display('email')">{{person.email}}</span>
                    <mat-chip-list fxHide.xs *ngIf="display('status')">
                    </mat-chip-list>
                </div>
            </div>
        </a>
        <mat-divider md-inset> </mat-divider>
    </mat-nav-list>-->
    </div>
</div>