.list-detail * {
  margin-right: 10px;
}
.mat-card-avatar {
  height: 60px !important;
  width: 60px !important;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
  font-weight: 500;
}
.nav-list {
  /*margin-bottom: 1px;*/
  padding-bottom: 10px;
  a {
    text-decoration: none;
  }
  a:visited, a:active, a:link {
    color: inherit;
  }
}
.nav-list:hover {
    color: inherit;
    background-color: #f1f1f1 !important;
}