<div class="flex-container" fxLayout='column'>
    <md-card class="flex-item" fxLayout="row">
        <md-input-container fxFlex fxFlexFill>
            <input mdInput
                   placeholder="Filter..."
                   i18n-placeholder
                   type="search">
        </md-input-container>
        <button md-icon-button [mdMenuTriggerFor]="saveMenu"><md-icon>more_vert</md-icon></button>
        <md-menu #saveMenu="mdMenu">
            <button md-menu-item>
                <span i18n>Save Filter</span>
            </button>
            <button md-menu-item>
                <span i18n>Export Filter</span>
            </button>
            <button md-menu-item>
                <span i18n>Import</span>
            </button>
        </md-menu>
    </md-card>
    <md-card *ngFor="let person of people$ | async">
        <md-card-header [routerLink]="['/person/view', person.uid]">
            <img md-card-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
            <md-card-title>{{person.fullName}}</md-card-title>
            <md-card-subtitle fxLayout.gt-sm="row" fxLayout.xs="column" class="list-detail">
                <span md-line *ngIf="display('birthday')">{{person.birthday | date: 'mediumDate'}}</span>
                <span md-line *ngIf="display('email')">{{person.email}}</span>
                <span md-line *ngIf="display('email')">{{person.email}}</span>
                <md-chip-list md-line fxHide.xs *ngIf="display('status')">
                    <md-chip>Mitglied</md-chip>
                    <md-chip>Begrüßungsdienst</md-chip>
                </md-chip-list>
            </md-card-subtitle>
        </md-card-header>
    </md-card>
</div>