<div class="flex-container" fxLayout='column'>
    <md-card class="flex-item" fxLayout="row">
        <md-input-container fxFlex fxFlexFill>
            <input mdInput
                   placeholder="Filter..."
                   i18n-placeholder
                   type="search">
        </md-input-container>
        <button md-icon-button [mdMenuTriggerFor]="saveMenu"><md-icon>more_vert</md-icon></button>
        <md-menu #saveMenu="mdMenu">
            <button md-menu-item>
                <span i18n>Save Filter</span>
            </button>
            <button md-menu-item>
                <span i18n>Export Filter</span>
            </button>
            <button md-menu-item>
                <span i18n>Import</span>
            </button>
        </md-menu>
    </md-card>
    <md-card>
        {{people$ | async}}
        <md-nav-list>
            <a md-list-item *ngFor="let person of people" [routerLink]="['/person/view', person.uid]">
                <img md-list-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
                <div class="mat-list-text" fxLayout="row">
                    <h2 fxFlex="25">{{person.fullName}}</h2>
                    <div fxFlex fxFlexFill md-line fxLayout="row" fxLayoutAlign="space-between">
                        <span >{{person.birthday | date: 'mediumDate'}}</span>
                        <span >{{person.email}}</span>
                        <md-chip-list fxHide.xs>
                            <md-chip>Mitglied</md-chip>
                            <md-chip>Begrüßungsdienst</md-chip>
                        </md-chip-list>
                    </div>
                </div>
            </a>
            <md-divider md-inset> </md-divider>
        </md-nav-list>
    </md-card>
</div>