<div class="login-content md-whiteframe-z1" >
  <form flex layout="column" class="login-form">
    <div class="logo">
      <img src="app/images/logo.png" alt=""/>
    </div>

    <h3 class="form-title" translate>Sign In</h3>

    <md-input-container>
      <label translate>Username</label>
      <input ng-model="loginCtrl.username">
    </md-input-container>

    <md-input-container>
      <label translate>Passwort</label>
      <input type="password" ng-model="loginCtrl.password">
    </md-input-container>

    <md-checkbox ng-model="loginCtrl.rememberMe" aria-label="Remember Me">
      <span tranlate>Remember me</span>
    </md-checkbox>

    <md-button class="md-raised md-primary" ng-click="loginCtrl.login()">
      <translate>Login</translate>
    </md-button>
</div>
