<div flex layout="row" layout-align="center center" class="person-list-item">
  <mh-avatar person="::person" size="xs" circle ui-sref="person.view({ id: person.id })">
  </mh-avatar>
  <div flex layout="row" layout-align="start center" class="text md-list-item-text" >
      <h3>
        <a class="simple-link" ui-sref="person.view({ id: person.id })" ng-bind="::person.fullName"></a>
      </h3>
      <div class="more" hide show-gt-sm>
        <span ng-repeat="status in ::person.status" class="tag status-tag">
          {{ ::status }}
        </span>
        <span ng-repeat="tag in ::person.tags" class="tag">
          {{ ::tag }}
        </span>

        <span ng-repeat="h in ::person.household">
          <ng-md-icon icon="home"></ng-md-icon>
          <a ui-sref="person.household-edit({householdId: h.id})"> {{ ::h.name}}</a>
        </span>
        <span class="text-muted text-item" ng-if="::person.contacts.home">
            <a href="tel:{{ ::person.contacts.home }}" ng-bind="::person.contacts.home"></a>
        </span>
        <span class="text-muted text-item" ng-if="person.contacts.mobile">
            <a href="tel:{{ ::person.contacts.mobile }}" ng-bind="::person.contacts.mobile"></a>
        </span>
      </div>
  </div>
</div>
