<md-chips ng-model="ngModel" class="tags-chips dusk-background" md-autocomplete-snap md-require-match>
  <md-autocomplete
    md-search-text="query"
    md-items="tag in searchTags(query)"
    md-item-text="tag"
    md-min-length="1"
    md-search-text-change="null">
    <span md-highlight-text="query">{{tag}}</span>
  </md-autocomplete>
  <md-chip-template>
    <span>
      {{$chip}}
    </span>
  </md-chip-template>
  <div class="md-chip-remove-container">
    <button md-chip-remove class="md-primary">
      <md-icon md-svg-icon="md-close" class="md-default-theme"></md-icon>
    </button>
  </div>
</md-chips>
