<md-card class="dashlet-card">
    <md-card-header>
        <md-card-title fxLayout="row" fxLayoutAlign="stretch center">
            <h4 i18n>My interactions</h4>
            <div>
                <button md-icon-button (click)="settingsDlg()"><md-icon>more_vert</md-icon></button>
            </div>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <div>
            <md-card-subtitle i18n>ToDo <md-divider></md-divider></md-card-subtitle>

        </div>
    </md-card-content>
</md-card>