<md-card class="dashlet-card">
    <md-card-header>
        <md-card-title fxLayout="row" fxLayoutAlign="stretch center">
            <h4 i18n>My interactions</h4>
            <div>
                <button md-icon-button (click)="settingsDlg()"><md-icon>more_vert</md-icon></button>
            </div>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <div>
            <md-card-subtitle i18n>ToDo <md-divider></md-divider></md-card-subtitle>
            <md-list>
                <md-list-item *ngFor="let note of myOutstanding">
                    <md-checkbox>{{note.text | slice:0:50}}</md-checkbox>
                </md-list-item>
            </md-list>
        </div>
    </md-card-content>
</md-card>