<mat-toolbar>
    <h3 fxFlex><ng-container i18n>Members for</ng-container>: &nbsp;
        <small *ngIf="!(hasFamily$ | async)" fxFlex>no family selected</small>
        <small *ngIf="(hasFamily$ | async)" fxFlex>{{family.name}}</small>
    </h3>
    <button mat-button
            *ngIf="!(hasFamily$ | async)"
            (click)="displayAddFamily = !displayAddFamily; displayAddMember = false">
        <mat-icon *ngIf="!displayAddFamily">add_circle_outline</mat-icon>
        <mat-icon *ngIf="displayAddFamily">remove_circle_outline</mat-icon> <ng-container i18n>FAMILY</ng-container>
    </button>
    <button mat-button
            *ngIf="(hasFamily$ | async)"
            (click)="displayAddMember = !displayAddMember; displayAddFamily = false">
        <mat-icon *ngIf="!displayAddMember">add_circle_outline</mat-icon>
        <mat-icon *ngIf="displayAddMember">remove_circle_outline</mat-icon> <ng-container i18n>MEMBER</ng-container>
    </button>
    <button mat-button
            *ngIf="(hasFamily$ | async)"
            (click)="displayAddFamily = !displayAddFamily;">
        <mat-icon>edit</mat-icon>
        <ng-container i18n>FAMILY</ng-container>
    </button>
</mat-toolbar>

<mat-card class="quick-panel" *ngIf="displayAddMember">
    <form [formGroup]="addFamilyMemberForm"
          #afmForm="ngForm"
          (ngSubmit)="addFamilyMember()"
          fxLayout="column"
          novalidate>
        <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="10px">
            <mat-form-field fxFlex="50">
                <mat-select class="option-select"
                            placeholder="Select member"
                            formControlName="member"
                            i18n-placeholder>
                    <mat-optgroup label="Suggestions" i18n-label *ngIf="suggestedMembers.length > 0">
                        <mat-option *ngFor="let member of suggestedMembers" [value]="member.uid">
                            {{member.fullName}}
                        </mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Members" i18n-label>
                        <mat-option *ngFor="let person of peopleNoSuggestions" [value]="person.uid">
                            {{person.fullName}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-select class="option-select"
                            formControlName="role"
                            placeholder="Select role"
                            i18n-placeholder>
                    <mat-option *ngFor="let role of familyRoles" [value]="role">
                        {{role}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button mat-button (click)="displayAddMember = false; afmForm.reset()"><mat-icon>close</mat-icon>
                <ng-container i18n>CLOSE</ng-container></button>
            <button type="submit" mat-raised-button color="primary"><mat-icon>send</mat-icon></button>
        </div>
    </form>
</mat-card>

<mat-card class="quick-panel" *ngIf="displayAddFamily">
    <form [formGroup]="linkFamilyForm"
          #lfForm="ngForm"
          (ngSubmit)="link()"
          fxLayout="column"
          novalidate>
        <div fxLayout="column">
            <h4 i18n>Add to family</h4>
            <div>
                <mat-form-field>
                    <mat-select formControlName="family" placeholder="Family" i18n-placeholder>
                        <mat-option *ngFor="let family of families" [value]="family">{{family.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="role" placeholder="Role" i18n-placeholder>
                        <mat-option *ngFor="let relation of relations" [value]="relation">{{relation}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button (click)="displayAddFamily = false; lfForm.reset();">
                    <mat-icon>close</mat-icon>
                    <ng-container i18n>CLOSE</ng-container></button>
                <button type="submit" mat-raised-button color="primary"><mat-icon>send</mat-icon></button>
            </div>
        </div>
    </form>
    <form [formGroup]="addFamilyForm"
          #afForm="ngForm"
          (ngSubmit)="addFamily()"
          fxLayout="column"
          novalidate>
        <h4 i18n>Create new family</h4>
        <div>
            <mat-form-field>
                <input matInput formControlName="familyName" placeholder="Family Name" i18n-placeholder>
            </mat-form-field>
            <button mat-button (click)="displayAddFamily = false; afForm.reset();"><mat-icon>close</mat-icon>
                <ng-container i18n>CLOSE</ng-container></button>
            <button type="submit" mat-raised-button color="primary"><mat-icon>send</mat-icon></button>
        </div>
    </form>
</mat-card>

<div class="container">
    <span *ngIf="!(hasFamily$ | async)" fxLayoutAlign="center center">
        <button mat-raised-button
                *ngIf="!(hasFamily$ | async)"
                (click)="displayAddFamily = !displayAddFamily; displayAddMember = false"
                i18n>SELECT or ADD
        </button> &nbsp; <b i18n>a family</b></span>
    <div *ngIf="(hasFamily$ | async)" fxLayout="row" fxLayoutWrap fxLayoutGap="15px">
        <mh-family-tile *ngFor="let member of members$ | async"
                        [person]="person"
                        [family]="family"
                        [member]="member"
                        (ignoreMember)="ignore($event)"
                        (removeMember)="remove($event)"
                        (acceptMember)="accept($event)"
                        (setRole)="changeRole($event)"></mh-family-tile>
    </div>
</div>
