<mat-toolbar>
    <h3 fxFlex><ng-container i18n>Members for</ng-container>: &nbsp;
        <small *ngIf="!family?.id" fxFlex>no family selected</small>
        <small *ngIf="family?.id" fxFlex>{{family.name}}</small>
    </h3>
    <button mat-button
            *ngIf="!family?.id"
            (click)="addFamily = !addFamily; addMember = false"
            i18n>
        <mat-icon *ngIf="!addFamily">add_circle_outline</mat-icon>
        <mat-icon *ngIf="addFamily">remove_circle_outline</mat-icon> <ng-container i18n>ADD FAMILY</ng-container>
    </button>
    <button mat-button
            *ngIf="family?.id"
            (click)="addMember = !addMember; addFamily = false" i18n>
        <mat-icon *ngIf="!addMember">add_circle_outline</mat-icon>
        <mat-icon *ngIf="addMember">remove_circle_outline</mat-icon> <ng-container i18n>ADD MEMBER</ng-container>
    </button>
</mat-toolbar>
<mat-card class="quick-panel" *ngIf="addMember">
    <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field fxFlex="50">
            <mat-select class="option-select"
                        placeholder="Select members"
                        multiple
                        i18n-placeholder>
                <mat-optgroup label="Suggestions" i18n-label *ngIf="suggestedMembers.length > 0">
                    <mat-option *ngFor="let member of suggestedMembers" [value]="member.uid">
                        {{member.fullName}}
                    </mat-option>
                </mat-optgroup>
                <mat-optgroup label="People" i18n-label>
                    <mat-option *ngFor="let person of people" [value]="person.uid">
                        {{person.fullName}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-select class="option-select"
                        placeholder="Select role"
                        i18n-placeholder>
                <mat-option *ngFor="let item of relations" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <button mat-button (click)="addMember = false"><mat-icon>close</mat-icon>
            <ng-container i18n>CLOSE</ng-container></button>
        <button mat-raised-button color="primary"><mat-icon>send</mat-icon></button>
    </div>
</mat-card>
<mat-card class="quick-panel" *ngIf="addFamily">
    <form [formGroup]="linkForm"
          (ngSubmit)="link()"
          fxLayout="column"
          novalidate>
        <div fxLayout="column">
            <h4 i18n>Add to family</h4>
            <div>
                <mat-form-field>
                    <mat-select formControlName="family" placeholder="Family" i18n-placeholder>
                        <mat-option *ngFor="let family of families" [value]="family">{{family.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="role" placeholder="Role" i18n-placeholder>
                        <mat-option *ngFor="let relation of relations" [value]="relation">{{relation}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button (click)="addFamily = false"><mat-icon>close</mat-icon>
                    <ng-container i18n>CLOSE</ng-container></button>
                <button mat-raised-button color="primary"><mat-icon>send</mat-icon></button>
            </div>
        </div>
    </form>
    <form [formGroup]="addForm"
          (ngSubmit)="addFormSave()"
          fxLayout="column"
          novalidate>
        <h4 i18n>Create new family</h4>
        <div>
            <mat-form-field>
                <input matInput formControlName="familyName" placeholder="Family Name" i18n-placeholder>
            </mat-form-field>
            <button mat-button (click)="addFamily = false"><mat-icon>close</mat-icon>
                <ng-container i18n>CLOSE</ng-container></button>
            <button mat-raised-button color="primary"><mat-icon>send</mat-icon></button>
        </div>
    </form>
</mat-card>
<div class="container">
    <span *ngIf="!family?.id" fxLayoutAlign="center center">
        <button mat-raised-button
                *ngIf="!family?.id"
                (click)="addFamily = !addFamily; addMember = false"
                i18n>SELECT or ADD
        </button> &nbsp; <b i18n>a family</b></span>
    <div *ngIf="family?.id" fxLayout="row" fxLayoutWrap fxLayoutGap="15px">
        <mh-family-tile *ngFor="let member of members"
                        [person]="person"
                        [member]="member"
                        (ignoreMember)="ignore($event)"
                        (removeMember)="remove($event)"
                        (acceptMember)="accept($event)"
                        (setRole)="setRole($event)"></mh-family-tile>
    </div>
</div>