<mat-card [class.suggestion-box]="member.isSuggestion">
    <div *ngIf="member.isSuggestion" class="suggestion-label"><small i18n>Suggesstion</small></div>
    <mat-card-title-group>
        <mat-card-title>
            <a [routerLink]="['/person/view', member.person.uid]"
               *ngIf="member.person.uid !== person?.uid">
                {{member.person.fullName}}
            </a>
            <span *ngIf="member.person.uid === person?.uid">{{member.person.fullName}}</span>
        </mat-card-title>
        <mat-card-subtitle fxLayout="column">
            <span matLine>{{member.person.age}} <small i18n>years</small></span>
            <span matLine><a href="tel:{{member.person.phoneMobile}}">{{member.person.phoneMobile}}</a></span>
        </mat-card-subtitle>
        <img matCardAvatar src="{{member.person.avatar}}" alt="{{member.person.fullName}}" />
    </mat-card-title-group>
    <mat-card-content>
        <mat-select [(ngModel)]="member.person.family.role" (change)="changeRole($event, member.person.uid)">
            <mat-option *ngFor="let relation of relations" [value]="relation">{{relation}}</mat-option>
        </mat-select>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end center">
        <button mat-button *ngIf="member.isSuggestion" (click)="accept(member)">
            <mat-icon>check</mat-icon> <ng-container i18n>ACCEPT</ng-container>
        </button>
        <button mat-button *ngIf="member.isSuggestion" (click)="ignore(member)">
            <mat-icon>clear</mat-icon> <ng-container i18n>IGNORE</ng-container>
        </button>
        <button mat-button color="warn"
                *ngIf="!member.isSuggestion && member.person.uid !== person?.uid"
                (click)="remove(member)">
            <mat-icon>clear</mat-icon> <ng-container i18n>REMOVE</ng-container>
        </button>
    </mat-card-actions>
</mat-card>