<div class="login-container" fxLayout="row" fxLayoutAlign="center center">

    <div class="flex-item" fxFlexFill>
        <div class="login-content" fxLayout="column">

            <div class="flex-item logo">
                <img src="/assets/images/logo.png" alt=""/>
            </div>

            <h3>Sign In</h3>

            <md-input-container class="flex-item">
                <input md-input placeholder="Username"  [(ngModel)]="username">
            </md-input-container>

            <md-input-container class="flex-item">
                <input md-input placeholder="Password"  [(ngModel)]="password">
            </md-input-container>

            <div class="flex-item">
                <button md-raised-button color="primary"  (click)="login()">
                    Login
                </button>
            </div>

        </div>
    </div>
</div>
