:host {
  display: block;
}
.mh-search-box {
  height: 64px;
  md-input-container {
    margin-left: 12px;
    /deep/ {
      .md-input-placeholder.md-focused {
        visibility: hidden;
      }
    }
  }
}