<md-sidenav-container class="sidenav-container" fullscreen>

    <md-sidenav #sidenav>
        <md-nav-list>
            <a *ngFor="let item of routes"
               md-list-item
               [routerLink]="[item.route]"
               (click)="sidenav.close()"
               tabindex="-1">
                <md-icon md-list-icon>{{item.icon}}</md-icon>
                <h4 md-line>{{item.title}}</h4>
            </a>
        </md-nav-list>
        <hr>
        <button md-button (click)="sidenav.close()" i18n>CLOSE</button>
    </md-sidenav>

    <header class="top-toolbar">
        <md-toolbar color="primary">
            <button md-icon-button
                    (click)="sidenav.open()"
                    class="burger"
                    fxHide
                    fxShow.xs
                    fxShow.sm><md-icon class="md-24">menu</md-icon></button>
            <md-icon class="md-icon-logo"><img src="assets/images/logo-xs.png" width="28px"/></md-icon>
            <span fxHide.xs class="material-label mdl-badge" data-badge="2">MemberHive</span>
            <mh-search-box #searchInput
                           class="search-box"
                           fxFlex style="text-align: right"></mh-search-box>

            <button
                    md-icon-button
                    [mdMenuTriggerFor]="interactions"
                    mdTooltip="Interactions"
                    class="my-interactions"
                    [class.has-interactions]="myOutstanding?.length">
                <md-icon *ngIf="!myOutstanding?.length">forum</md-icon>
                <b *ngIf="myOutstanding?.length">{{myOutstanding.length}}</b>
            </button>

            <md-menu #interactions="mdMenu">
                <div *ngIf="!myOutstanding?.length">No interactions</div>
                <md-nav-list *ngIf="myOutstanding?.length">
                    <md-list-item *ngFor="let note of myOutstanding">
                        <span md-list-avatar class="date-rounded">{{note.dueOn | date: 'MMM d'}}</span>
                        <span md-line>{{note.text | slice:0:20}}...</span>
                        <span md-line>{{note.author.name}}</span>
                    </md-list-item>
                </md-nav-list>
                <md-divider></md-divider>
                <a md-menu-item (click)="openDlgInteractions()" i18n>Create interaction</a>
            </md-menu>

            <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon></button>
            <md-menu #menu="mdMenu">
                <button md-menu-item>
                    <md-icon>account_circle</md-icon>
                    <span i18n>My Profile</span>
                </button>
                <button md-menu-item [routerLink]="['/login']">
                    <md-icon>exit_to_app</md-icon>
                    <span i18n>Logout</span>
                </button>
            </md-menu>

        </md-toolbar>
    </header>

    <main fxLayout="row">
        <div class="drawer"
             fxFlex="200px"
             fxHide.xs
             fxHide.sm
             [@drawer]="drawerVisible">
            <md-nav-list menu-items>
                <a md-list-item>
                    <img md-list-avatar src="{{currentUser.avatar}}" alt="{{currentUser.fullName}}" />
                    <h4 md-line>{{currentUser.firstName}}</h4>
                </a>
                <md-divider color="white"></md-divider>
                <a *ngFor="let item of routes"
                   md-list-item
                   [routerLink]="[item.route]"
                   [ngClass]="{'active-list-item': isActiveItem(item.title) }">
                    <md-icon md-list-icon>{{item.icon}}</md-icon>
                    <h4 md-line>{{item.title}}</h4>
                </a>
                <md-divider color="white"></md-divider>
                <a md-list-item (click)="toggleDrawer()">
                    <md-icon md-list-icon *ngIf="!drawerVisible">first_page</md-icon>
                    <md-icon md-list-icon *ngIf="drawerVisible">last_page</md-icon>
                    <h4 md-line *ngIf="!drawerVisible">collapse</h4>
                </a>
            </md-nav-list>
        </div>
        <div fxFlex fxLayout="column" fxFill>
            <md-toolbar>
                <h4>{{_titleService.getTitle()}}</h4>
            </md-toolbar>
            <div class="main-content" fxFlex>
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</md-sidenav-container>