@import "../theme.scss";

html, body, mh-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .main-content {
    padding: 1em;
    box-sizing: border-box;
  }
  .mat-sidenav {
    min-width: 20%;
    .mat-button {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }
  .mat-toolbar {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    z-index: 1;
    .mat-icon {
      cursor: pointer;
    }
  }
}
.main-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
md-nav-list {
  .menu-toggle {
    width: 100%;
    text-align: start;
    margin-top: 5px;
  }
}

.top-toolbar {
  .md-icon-logo {
    padding: 0 15px 0 15px;
  }
  md-toolbar-row {
    height: 64px;
  }
  .search-box {
    flex: 1 1 auto;
    margin-right: 25px;
  }
  .material-icons.mdl-badge[data-badge]::after,
  .material-label.mdl-badge[data-badge]::after {
    font-size: .3em;
    width: 2em;
    height: 2em;
  }
  .material-icons.mdl-badge[data-badge]::after {
    top: -1em;
    right: -1em;
  }
  .my-interactions {
    background-color: mat-color($mh-app-warn, 400);
    width: 30px;
    height: 30px;
    line-height: 0 !important;
  }
}
.sidenav-container {
  .drawer {
    background: rgb(56, 53, 53);
    md-nav-list, .mat-list-item {
      color: #ffffff;
    }
    .mat-divider {
      border-top-color: #666;
    }
  }
}

.active-list-item {
  border-color: mat-color($mh-app-warn, A400);
  border-width: 0 3px 0 0;
  border-style: solid;
}