html, body, mh-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main-content {
  padding: 1em;
}

.top-toolbar {

  md-icon {
    padding: 0 14px;
  }

  md-toolbar-row {
    height: 64px;
  }

  .search-box {
    flex: 1 1 auto;
    margin-right: 25px;
  }

}