@import "../../theme.scss";

.layout-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  .header, .footer {
    max-height: 64px;
  }

  .mat-sidenav-container {
    flex: 1;
  }

  main {
    padding: 32px;
  }
}

.active-list-item {
  border-color: mat-color($mh-app-warn, A400);
  border-width: 0 3px 0 0;
  border-style: solid;
}
.mat-progress-bar {
  z-index: 10;
  height: 3px;
}
.drawer-menu {
  & {
    background: rgb(56, 53, 53);
  }
  mat-nav-list, .mat-list-item, .mat-icon {
    color: #ffffff;
  }
  .mat-divider {
    border-top-color: #666;
  }
}