<div class="layout-fixed" fullscreen>
    <mat-toolbar class="header" [ngClass]="[headerPaddingClass]" color="primary">

        <mh-search-box fxFlex></mh-search-box>

        <mh-toolbar-interactions [interactions]="myOutstanding$ | async"></mh-toolbar-interactions>

        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span i18n>My Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span i18n>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    <mat-toolbar [ngClass]="[headerPaddingClass]">
        <span fxFlex>{{title$ | async}}</span>
        <button mat-icon-button *ngFor="let button of contextButtons$ | async"
                [routerLink]="[button.link]"
                matTooltip="{{button.title}}">
            <mat-icon>{{button.icon}}</mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container #sidenavContainer>
        <mat-sidenav #sidenav mode="side"
                     fixedInViewport="true" fixedTopGap="0" fixedBottomGap="0"
                     fxFlex="220px" class="drawer-menu">
            <mat-toolbar color="primary">
                <button mat-icon-button
                        (click)="sidenav.open()"
                        class="burger"
                        fxHide
                        fxShow.xs
                        fxShow.sm><mat-icon class="md-24">menu</mat-icon></button>

                <mat-icon class="mat-icon-logo"><img src="assets/images/logo-xs.png" width="28px"/></mat-icon>
                <span fxHide.xs class="p-r-30">{{churchName}}</span>
            </mat-toolbar>
            <mat-nav-list>
                <a *ngFor="let item of routes"
                   mat-list-item
                   routerLink="{{item.route}}"
                   routerLinkActive="active-list-item">
                    <mat-icon matListIcon>{{item.icon}}</mat-icon>
                    <span matLine>{{item.title}}</span>
                </a>
                <mat-divider color="white"></mat-divider>
                <a mat-list-item (click)="closeDrawer()" *ngIf="drawerVisible">
                    <mat-icon matListIcon>first_page</mat-icon>
                    <span matLine i18n>collapse</span>
                </a>
                <a mat-list-item (click)="openDrawer()" *ngIf="!drawerVisible">
                    <mat-icon matListIcon>last_page</mat-icon>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content fxFlex>
            <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading$ | async"></mat-progress-bar>
            <main>
                <button mat-button (click)="sidenav.toggle()">Toggle Start Side Sidenav</button>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!--<mat-toolbar class="footer">Footer</mat-toolbar>-->
</div>