@import "../../theme.scss";

html, body, mh-app, md-sidenav-container {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  main {
    min-height: 100%;
    background-color: #e0e0e0;
    .mat-sidenav {
      min-width: 30vw;
      .mat-button {
        width: 100%;
        position: relative;
        bottom: 0;
        margin: 24px 0;
      }
    }
    .mat-toolbar {
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      z-index: 1;
      .mat-icon {
        cursor: pointer;
      }
    }
  }
}
md-nav-list {
  .menu-toggle {
    width: 100%;
    text-align: start;
    margin-top: 5px;
  }
}
.material-icons.mdl-badge[data-badge]::after,
.material-label.mdl-badge[data-badge]::after {
  font-size: .3em;
  width: 2em;
  height: 2em;
}
.material-icons.mdl-badge[data-badge]::after {
  top: -1em;
  right: -1em;
}
.has-interactions {
  background-color: mat-color($mh-app-warn, 400);
  width: 30px;
  height: 30px;
  line-height: 0 !important;
}
.no-interactions {
  text-align: center;
  padding: 10px
}
.drawer {
  background: rgb(56, 53, 53);
  md-nav-list, .mat-list-item, .mat-icon {
    color: #ffffff;
  }
  .mat-divider {
    border-top-color: #666;
  }
}
.active-list-item {
  border-color: mat-color($mh-app-warn, A400);
  border-width: 0 3px 0 0;
  border-style: solid;
}
.mat-progress-bar {
  z-index: 10;
  height: 3px;
}