fieldset {
  border: 1px dashed rgba(0, 0, 0, 0.2);
}
.container {
  height: 100%;
  .div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  div,
  .gu-mirror {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
  }
}
.handle {
  color: #868686;
  cursor: -webkit-grab;
}
