@import "../../../../theme.scss";

md-card {
  margin: 10px 0 10px 0;
  color: #fff;
  md-card-title {
    color: #fff;
    font-size: 16px;
  }
  md-card-subtitle {
    color: #fff;
  }
  md-icon {
    font-size: 2.2em;
    margin-right: 8px;
    color: #fff;
  }
}
.mat-card.error {
  background-color: mat-color($mh-app-warn, 300);
}