<form class="person-edit" [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)" [fxLayout]="row">
    <fieldset fxFlex.sm="50" formGroupName="personal">
        <legend>Personal</legend>
        <div>
            <md-input-container fxFlex>
                <input mdInput fxFlex type="text" formControlName="firstName" placeholder="Firstname" i18n-placeholder="Firstname">
            </md-input-container>
            <small [hidden]="myForm.controls.personal.controls.firstName.valid || (myForm.controls.personal.controls.firstName.pristine && !submitted)">
                Name is required (minimum 5 characters).
            </small>
        </div>
        <div>
            <md-input-container>
                <input mdInput fxFlex type="text" formControlName="lastName" placeholder="Surname" i18n-placeholder="Surname">
            </md-input-container>
            <small [hidden]="myForm.controls.personal.controls.lastName.valid || (myForm.controls.personal.controls.lastName.pristine && !submitted)">
                Lastname is required (minimum 5 characters).
            </small>
        </div>
    </fieldset>
    <fieldset fxFlex.sm="50" fxFlexOffset="20px" formGroupName="account">
        <legend>Account</legend>
        <div>
            <md-input-container>
                <input mdInput formControlName="username" placeholder="Username" i18n-placeholder="Username">
            </md-input-container>
            <small [hidden]="myForm.controls.account.controls.username.valid || (myForm.controls.account.controls.username.pristine && !submitted)">
                Username is required (minimum 5 characters).
            </small>
        </div>
        <div>
            <md-input-container>
                <input mdInput type="password" formControlName="password" placeholder="Password" i18n-placeholder="Password">
            </md-input-container>
            <small [hidden]="myForm.controls.account.controls.username.valid || (myForm.controls.account.controls.username.pristine && !submitted)">
                Password is required (minimum 5 characters).
            </small>
        </div>
        <div>
            <div class="file-upload">
                <span class="text">upload</span>
                <input id="custom-input" type="file" (change)="fileChangeListener($event)">
            </div>
            <!--<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>-->
            <br>
            <span class="result rounded" *ngIf="data.image" >
                <!--<img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">-->
            </span>
        </div>
    </fieldset>
    <div>
        <button md-button type="submit">Submit</button>
    </div>

</form>