/*.md-button svg {
  line-height: 0;
  //this is needed to center them in ng-md-icon
  display: block;
  margin: 0 auto;
}
.inline-md-select {
  margin-top: 0;
  margin-bottom: 0;
}
* {min-height:0}
*/
md-datepicker {
  background: none !important;
}

input[type="date"] {
  border: none;
}

.radio-inline {
  md-radio-button {
    margin-top: none !important;
  }
  md-radio-button:not(:first-child) {
    margin-left: 16px;
    margin-top: none !important;
  }
}
