<div class="main-content">
    <mh-filter></mh-filter>
    <h5>
        <span>
            <ng-container i18n="@@displaying">Displaying</ng-container>
            {{peopleFiltered.length}}
            <ng-container i18n="@@members">Members</ng-container>
        </span>
        <small *ngIf="options.indexOf('family') > -1">
        <ng-container i18n="@@in">in</ng-container>
        {{families.length}}
        <ng-container i18n="@@families">families</ng-container></small>
    </h5>
    <div fxLayout='column'>
        <mat-card *ngFor="let person of peopleFiltered" class="nav-list">
            <a mat-list-item [routerLink]="['/person/view', person.uid]">
                <mat-card-header fxLayout.gt-sm="row" fxLayout.xs="column">
                    <img mat-card-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
                    <mat-card-title>{{person.fullName}}</mat-card-title>
                    <mat-card-subtitle class="list-detail">
                        <ng-container *ngFor="let opt of options">
                            <span matLine *ngIf="opt === 'birthday'">{{person.birthday | date: 'mediumDate'}}</span>
                            <span matLine *ngIf="opt === 'email'">{{person.email}}</span>
                            <span matLine *ngIf="opt === 'age'">{{person.ageFormatted}}</span>
                            <span matLine *ngIf="opt === 'gender'">
                                <b *ngIf="person.gender === 'f'" i18n="@@female">female</b>
                                <b *ngIf="person.gender === 'm'" i18n="@@male">male</b>
                            </span>
                            <span matLine *ngIf="opt === 'status' && person?.status.length > 0">
                                <mat-basic-chip *ngFor="let tag of person?.status" class="status-chip">{{tag.text}}</mat-basic-chip>
                            </span>
                            <span matLine *ngIf="opt === 'family' && isFamilyMember(person.uid)">
                                <mat-basic-chip class="family-chip">
                                    <mat-icon>face</mat-icon>{{familyName(person.uid)}}</mat-basic-chip>
                            </span>
                        </ng-container>
                    </mat-card-subtitle>
                </mat-card-header>
            </a>
        </mat-card>
    <!--<mat-nav-list>
        <a mat-list-item *ngFor="let person of peopleFiltered"
           [routerLink]="['/person/view', person.uid]">
            <div fxLayout.gt-sm="row" fxLayout.xs="column">
                <img matListAvatar src="{{person.avatar}}" alt="{{person.fullName}}" fxFlex="50px" />
                <div class="mat-list-text" fxFlex>
                    <h2>{{person.fullName}}</h2>
                    <div matLine class="list-detail" fxLayout.gt-sm="row" fxLayout.xs="column">
                        <ng-container *ngFor="let opt of options">
                            <span matLine *ngIf="opt === 'birthday'">{{person.birthday | date: 'mediumDate'}}</span>
                            <span matLine *ngIf="opt === 'email'">{{person.email}}</span>
                            <span matLine *ngIf="opt === 'age'">{{person.ageFormatted}}</span>
                            <span matLine *ngIf="opt === 'gender'">
                                <b *ngIf="person.gender === 'f'" i18n="@@female">female</b>
                                <b *ngIf="person.gender === 'm'" i18n="@@male">male</b>
                            </span>
                            <span matLine *ngIf="opt === 'status' && person?.status.length > 0">
                                <mat-basic-chip *ngFor="let tag of person?.status" class="status-chip">{{tag.text}}</mat-basic-chip>
                            </span>
                            <span matLine *ngIf="opt === 'family' && isFamilyMember(person.uid)">
                                <mat-basic-chip class="family-chip">
                                    <mat-icon>face</mat-icon>{{familyName(person.uid)}}</mat-basic-chip>
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div>
        </a>
        <mat-divider [inset]="true"> </mat-divider>
    </mat-nav-list>-->
    </div>
</div>