@import "../../../theme.scss";

.list-detail span {
  margin-right: 10px;
}
.mat-card-avatar {
  height: 60px !important;
  width: 60px !important;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
  font-weight: 500;
}
.nav-list {
  /*margin-bottom: 1px;*/
  padding-bottom: 10px;
  a {
    text-decoration: none;
  }
  a:visited, a:active, a:link {
    color: inherit;
  }
}
.nav-list:hover {
    color: inherit;
    background-color: #f1f1f1 !important;
}

.status-chip {
  background-color: mat-color($mh-app-accent, 100);
  padding: 4px 8px 4px 8px;
  font-size: 12px;
  border-radius: 40px;
  margin-top: 8px;
  margin-right: 4px;
}
.family-chip {
  background-color: mat-color($mh-app-primary, 100);
  padding: 0px 10px 0px 8px;
  font-size: 12px;
  border-radius: 40px;
  display: inline-block;
  line-height: 24px;
  .mat-icon {
    float: left;
    font-size: 28px;
    line-height: 24px;
    margin-left: -12px;
    margin-right: 10px;
    color: mat-color($mh-app-primary, 700);
  }
}