<mh-filter></mh-filter>
<div class="flex-container" fxLayout='column' fxLayoutAlign="start space-around">
    <div fxHide.gt-xs fxLayoutAlign="center center" fxLayout="row" class="mobile-avatar">
        <a mat-button (click)="prevPerson()"><mat-icon>chevron_left</mat-icon><span>Prev</span></a>
        <img mat-card-avatar src="{{person?.avatar}}" alt="Avatar: {{person?.firstName}}" fxHide.gt-sm fxShow.xs>
        <a mat-button (click)="nextPerson()"><span i18n>Next</span><mat-icon>chevron_right</mat-icon></a>
    </div>
    <mat-card class="person-card">
        <mat-card-header class="person-card-header">
            <a (click)="openDlgAvatar()" class="avatar-container" fxHide.xs>
                <span class="change-overlay" i18n>Change</span>
                <img mat-card-avatar src="{{person?.avatar}}" alt="Avatar: {{person?.firstName}}">
            </a>
            <mat-card-title-group>

                <mat-card-title>
                    <mat-chip-list>
                        <mat-chip *ngFor="let tag of person?.status" color="primary">{{tag.text}}</mat-chip>
                    </mat-chip-list>
                </mat-card-title>

                <mat-card-subtitle fxLayout.gt-sm="row" fxLayout.xs="column">
                    <div><mat-icon>cake</mat-icon>{{person?.birthday | date: 'longDate'}}</div>
                    <div><mat-icon>email</mat-icon><a href="mailto:{{person?.email}}">{{person?.email}}</a></div>
                    <div *ngIf="person?.phoneHome"><mat-icon>phone</mat-icon><a href="tel:{{person.phoneHome}}">{{person.phoneHome}}</a></div>
                    <div *ngIf="person?.phoneMobile"><mat-icon>phonelink_ring</mat-icon><a href="tel:{{person.phoneMobile}}">{{person.phoneMobile}}</a></div>
                    <div *ngIf="person?.maritalStatus"><mat-icon>favorite</mat-icon>{{person?.maritalStatus}}</div>
                    <div *ngIf="person?.baptized"><mat-icon>opacity</mat-icon>{{person?.baptized | date: 'longDate'}}</div>
                </mat-card-subtitle>
                <!--
                TODO: Relations
                <mat-card-subtitle>
                    <mat-icon>loyalty</mat-icon> <a href="#">Thomas Hochstetter</a> (mentor), <a href="#">Marco Bartholomä</a> (friend)
                </mat-card-subtitle>
                -->
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button (click)="prevPerson()" fxHide.xs><mat-icon>chevron_left</mat-icon><span i18n>Prev</span></button>
            <button mat-button (click)="nextPerson()" fxHide.xs><span i18n>Next</span><mat-icon>chevron_right</mat-icon></button>
            <button mat-raised-button (click)="createInteraction()" color="accent">
                <mat-icon>forum</mat-icon> <span fxHide.xs i18n>Interactions</span></button>
            <button mat-raised-button (click)="openDlgRelationships()" color="accent">
                <mat-icon>loyalty</mat-icon> <span fxHide.xs i18n>Relationships</span></button>
            <button mat-raised-button (click)="openDlgAvatar()" color="accent">
                <mat-icon>camera</mat-icon> <span fxHide.xs i18n>Avatar</span></button>
            <button mat-icon-button *ngIf="hasMap" (click)="openDlgMap()">
                <mat-icon>map</mat-icon>
            </button>
            <button mat-button (click)="deletePerson()" fxHide.xs>
                <mat-icon>delete</mat-icon> <span fxHide.xs i18n>Delete</span></button>
        </mat-card-actions>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Interactions">
                    <mh-interaction-list
                            [people]="people"
                            [interactions]="interactions$ | async"
                            [refPerson]="person$ | async"
                            (deleteInteraction)="deleteInteraction($event)"
                            (addInteraction)="addInteraction($event)"></mh-interaction-list>
                </mat-tab>
                <mat-tab label="Edit">
                   <mh-person-form
                           [person]="person"
                           [settings]="settings"
                           [tagSource]="tags$ | async"
                           (savePerson)="savePerson($event)"></mh-person-form>
                </mat-tab>
                <mat-tab label="Family" i18n-label>
                    <mh-person-family
                            [people]="people"
                            [person]="person"></mh-person-family>
                </mat-tab>
                <!--
                TODO: Groups section
                <mat-tab label="Groups" i18n-label></mat-tab>
                -->
                <mat-tab label="Logs" i18n-label>
                    <mh-audit-log [person]="person"></mh-audit-log>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>
