<ul class="list-unstyled">
  <li ng-if="personCtrlperson.account.email" title="{{'Email' | translate}}">
    <fa name="envelope"></fa> <a href="mailto:{{ personCtrlperson.account.email }}">{{ ::person.account.email }}</a>
  </li>

  <li ng-if="personCtrl.person.contact.home" title="{{'Home phone' | translate}}">
    <fa name="phone"></fa> <a href="tel:{{ ::personCtrl.person.contact.home}}">{{ ::personCtrl.person.contact.home}}</a>
    <small class="text-muted" translate>Home</small>
  </li>

  <li ng-if="personCtrl.person.contact.work" title="{{'Work phone' | translate}}">
    <fa name="phone"></fa> <a href="tel:{{ ::personCtrl.person.contact.work}}">{{ ::personCtrl.person.contact.work}}</a>
    <small class="text-muted" translate>Work</small>
  </li>

  <li ng-if="personCtrl.person.contact.mobile" title="{{'Mobile phone' | translate}}">
    <fa name="mobile"></fa> <a href="tel:{{ ::personCtrl.person.contact.mobile}}">{{ ::personCtrl.person.contact.mobile}}</a>
    <small class="text-muted" translate>Mobile</small>
  </li>

  <li ng-if="personCtrl.person.contact.fax" title="{{'Fax' | translate}}">
    <fa name="fax"></fa> <a href="tel:{{ ::personCtrl.person.contact.fax}}">{{ ::personCtrl.person.contact.fax}}</a>
    <small class="text-muted" translate>Fax</small>
  </li>

  <li ng-if="personCtrl.person.contact.facebook" title="{{'Facebook' | translate}}">
    <fa name="facebook"></fa>
    <a target="_blank" href="{{ ::personCtrl.person.contact.facebook | formatFacebookUrl }}">
      {{::personCtrl.person.contact.facebook }}
    </a>
  </li>

  <li ng-if="personCtrl.person.contact.skype" title="{{'Skype' | translate}}">
    <fa name="skype"></fa>
    <a href="{{ ::personCtrl.person.contact.skype  | formatSkypeUrl }}">
      {{ ::personCtrl.person.contact.skype }}
    </a>
  </li>

</ul>
