<div flex layout-gt-md="row">
  <div flex layout="column" layout-padding>
    <div class="mh-content">
      <h3 translate>Home Address</h3>
      <mh-address-edit address="personCtrl.person.address.home"> </mh-address-edit>
    </div>
    <div class="mh-content">
      <h3 translate>Work Address</h3>
      <mh-address-edit address="personCtrl.person.address.work"> </mh-address-edit>
    </div>
  </div>

  <div flex layout="column" layout-padding>
    <div class="mh-content">
      <h3 translate>Postal Address</h3>
      <mh-address-edit address="personCtrl.person.address.postal"> </mh-address-edit>
    </div>
  </div>
</div>

