<div class="mh-content" ng-controller="PersonImportCSVController as personCtrl">
  <p translate>
    You can upload a CSV file with you existing members here.
  </p>

  <div
    ngf-drop
    ngf-select
    ng-model="file"
    class="fileupload-drop-box"
    ngf-drag-over-class="fileupload-dragover"
  >
      <translate>Drop the CSV File here</translate>
  </div>
  <div class="settings">
    <md-input-container>
      <label translate>Delimiter</label>
      <input ng-model="personCtrl.delimiter">
    </md-input-container>
  </div>
  <div ng-if="personCtrl.showTable">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Map to</th>
        <th translate>Examples</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in personCtrl.tableData[0] track by $index">
          <td>{{value}}</td>
          <td>
            <md-select class="inline-md-select" ng-model="personCtrl.assign[$index]">
              <md-option ng-repeat="item in personCtrl.options">{{item}}</md-option>
            </md-select>
          </td>
          <td class="person-import-example">
            <span>{{personCtrl.tableData[1][$index]}}</span>
            <span>{{personCtrl.tableData[2][$index]}}</span>
            <span>{{personCtrl.tableData[3][$index]}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <md-button class="md-primary md-raised" ng-click="personCtrl.import()" translate>
      Import
    </md-button>
  </div>
</div>
