<!--
-->
<div class="mh-content">
<div layout="row">
  <div flex>
    <mh-person-search ng-model="personCtrl.query" query-model="personCtrl.queryModel"></mh-person-search>
  </div>
  <!---->
  <md-menu width="4">
    <md-button aria-label="menu" class="md-icon-button md-action-icon-button" ng-click="$mdOpenMenu($event)">
      <ng-md-icon md-menu-origin  icon="menu"></ng-md-icon>
    </md-button>
  <md-menu-content>
    <md-menu-item>
      <md-button aria-label="Export" ui-sref="person.export" >
        <ng-md-icon icon="cloud_download"></ng-md-icon>
        <translate> Export </translate>
      </md-button>
     </md-menu-item>
    <md-menu-item>
      <md-button aria-label="Import" ui-sref="person.import" >
        <ng-md-icon icon="cloud_upload"></ng-md-icon>
        <translate> Import </translate>
      </md-button>
     </md-menu-item>
    <md-menu-item>
      <md-button aria-label="View Households" ui-sref="person.households">
        <ng-md-icon icon="home"></ng-md-icon>
        <translate> Households </translate>
      </md-button>
    </md-menu-item>

  </md-menu-content>
</md-menu>
</div>

<div class="text-muted">
  <div layout="row" layout-align="start center">
    {{personCtrl.allPersons.length}} <translate> Persons found</translate>.
    <md-button ui-sref="person.list"><translate>Save Search</translate></md-button>
    <md-button ui-sref="person.export"><translate>Export</translate></md-button>
    <md-button ui-sref="person.export"><translate>Send Message</translate></md-button>
    <md-button ui-sref="person.map"><translate>Show Map</translate></md-button>
  </div>
</div>
</div>


<div id="person-container">
    <div class="mh-content" ng-if="personCtrl.persons.length == 0">
      <ng-md-icon icon="info"></ng-md-icon> <h2 translate>No Persons found</h2>
      <translate> There are no persons in the database. You can add a person using the button at the bottom right.</translate>
    </div>
    <md-list flex
        class="mh-content person-list"
        ng-if="personCtrl.persons.length > 0"
        infinite-scroll="personCtrl.loadMorePersons()"
        infinite-scroll-distance="1"
        infinite-scroll-container="'#content_wrapper'"
        infinite-scroll-disabled="personCtrl.noScroll"
        infinite-scroll-parent="true"
        infinite-scroll-immediate-check='false'>
    <md-list-item flex  class="person-list-item" ng-repeat="person in personCtrl.persons track by person.id">
      <div flex layout="row" layout-align="center center">
        <mh-person-list-item flex person="::person"></mh-person-list-item>
        <md-menu>
          <md-button aria-label="Open menu" class="md-icon-button md-action-icon-button" ng-click="$mdOpenMenu($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="personCtrl.editPerson(person)">
                <ng-md-icon icon="edit"></ng-md-icon>
                <translate>Edit</translate>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="personCtrl.deletePerson(person)">
                <ng-md-icon icon="delete"></ng-md-icon>
                <translate>Delete</translate>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

      <md-divider ng-if="!$last"></md-divider>

    </md-list-item>

  </md-list>
</div>
<a ui-sref="person.create">
  <md-button class="md-fab md-fab-floating-br md-accent">
    <md-tooltip md-direction="top">
      <translate>Add new person</translate>
    </md-tooltip>
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
</a>
