<md-card class="dashlet-card">
    <md-card-header>
        <md-card-title fxLayout="row" fxLayoutAlign="space-between center">
            <h3 i18n>Upcoming Birthdays</h3>
            <div>
                <button md-icon-button md-tooltip="move dashlet">
                    <md-icon class="handle">tab_unselected</md-icon>
                </button>
                <button md-icon-button (click)="settingsDlg()"><md-icon>more_vert</md-icon></button>
            </div>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <div>
            <md-card-subtitle i18n>Today <md-divider></md-divider></md-card-subtitle>
            <p *ngIf="peopleBdToday?.length == 0" i18n>No birthdays today</p>
            <md-list>
                <md-list-item *ngFor="let person of peopleBdToday">
                    <md-icon md-list-icon class="birthday-notice">cake</md-icon>
                    <img md-list-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
                    <div md-line>
                        <span>{{person.fullName}}</span>
                    </div>
                    <div md-line>
                        <a [routerLink]="['/person/view', person.uid]" i18n>view</a> |
                        <a href="javascript:void(0)"
                           (click)="interactionsDlg(person)"
                           i18n>interaction</a>
                    </div>
                    <div><b>{{person.age}}</b></div>
                </md-list-item>
            </md-list>
        </div>
        <div>
            <md-card-subtitle>
                <ng-container i18n>Next {{range}} days</ng-container>
                <md-divider></md-divider>
            </md-card-subtitle>
            <md-list>
                <md-list-item *ngFor="let person of peopleBdRange">
                    <span md-list-avatar class="date-rounded">{{person.birthday | date: 'MMM d'}}</span>
                    <img md-list-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
                    <div md-line>
                        <span md-line>
                            {{person.fullName}}
                            (<i><ng-container i18n>in</ng-container>
                            {{birthdayIn(person.birthday)}}
                            <ng-container i18n>days</ng-container></i>)
                        </span>
                        <span md-line>
                            <a [routerLink]="['/person/view', person.uid]" i18n>view</a> |
                            <a href="javascript:void(0)"
                               (click)="interactionsDlg(person)"
                               i18n>reminde me</a>
                        </span>
                    </div>
                    <b>{{person.age}}</b>
                </md-list-item>
            </md-list>
        </div>
    </md-card-content>
</md-card>