<mat-accordion>
    <mat-expansion-panel #filterToolbar [expanded]="hasFilter">
        <mat-expansion-panel-header i18n="@@filter">Filter</mat-expansion-panel-header>
        <form [formGroup]="form"
              novalidate
              autocomplete="off">
            <div fxLayout="row">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput
                           placeholder="Search in name, surname and all tags"
                           i18n-placeholder="@@filter.add"
                           formControlName="filter"
                           type="search"
                           (keyup)="filtering()"
                           (change)="persistFilter()"
                           (keypress.enter)="filtering()">
                    <mat-hint i18n="@@hint.filter.terms">
                        Searches in name and status. Other Options are age:number (or number-number for range), gender:m (or f)
                    </mat-hint>
                </mat-form-field>
                <button mat-icon-button [matMenuTriggerFor]="saveMenu"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #saveMenu="matMenu">
                    <button mat-menu-item (click)="saveFilter()">
                        <span i18n="@@btn.save.filter">Save Filter</span>
                    </button>
                    <button mat-menu-item disabled>
                        <span i18n="@@btn.export.filter">Export Filter</span>
                    </button>
                    <button mat-menu-item disabled>
                        <span i18n="@@btn.import.filter">Import</span>
                    </button>
                </mat-menu>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
                <h5 fxFlex>Saved Filters</h5>
                <mat-chip-list>
                    <mat-chip *ngFor="let filter of savedFilters">{{filter}}</mat-chip>
                </mat-chip-list>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>
