<div class="login-container" fxLayout="row" fxLayoutAlign="center center">

    <div class="flex-item" fxFlexFill>
        <div class="login-content" fxLayout="column">

            <div class="flex-item logo">
                <img src="/assets/images/logo.png" alt=""/>
            </div>

            <h3 i18n>Sign In</h3>

            <md-input-container class="flex-item">
                <input mdInput placeholder="Username" i18n-placeholder  [(ngModel)]="username" (keyup)="onKey($event)">
            </md-input-container>

            <md-input-container class="flex-item">
                <input mdInput type="password" placeholder="Password" i18n-placeholder  [(ngModel)]="password" (keyup)="onKey($event)">
            </md-input-container>

            <div class="flex-item">
                <button md-raised-button color="primary" i18n  (click)="login()">Login</button>
            </div>

        </div>
    </div>
</div>
