<div class="login-container" fxLayoutAlign="center center">
    <div class="login-content">
        <mat-progress-bar
                mode="indeterminate"
                color="accent"
                *ngIf="loading$ | async"></mat-progress-bar>
        <i class="loading-holder" *ngIf="!(loading$ | async)"></i>
        <mat-card fxLayout="column">
            <div class="logo">
                <img src="/assets/images/logo.png" alt=""/>
            </div>
            <mat-card-title i18n="@@login.title">Sign In</mat-card-title>
            <mat-card-subtitle *ngIf="(error$ | async) && !closeError">
                <mh-notifybox
                        [message]="error$ | async"
                        [type]="error">
                </mh-notifybox>
            </mat-card-subtitle>
            <mat-card-content fxFlex>
                <form
                      (ngSubmit)="submit()"
                      [formGroup]="form"
                      novalidate
                      fxLayout="column"
                      autocomplete="off">

                    <mat-form-field>
                        <mat-icon matPrefix>email</mat-icon>
                        <input matInput
                               required
                               placeholder="Email OR Username"
                               i18n-placeholder="@@login.username"
                               autocorrect="off"
                               autocapitalize="off"
                               spellcheck="off"
                               formControlName="username"
                               [class.invalid]="form.controls.username?.errors && form.controls.username?.dirty"
                               (keyup)="onKey($event)"
                               (focus)="initForm()">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-icon matPrefix>lock</mat-icon>
                        <input matInput
                               type="password"
                               placeholder="Password"
                               i18n-placeholder="@@form.password"
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off"
                               spellcheck="off"
                               formControlName="password"
                               [class.invalid]="form.controls.password?.errors && form.controls.password?.dirty"
                               (keyup)="onKey($event)">
                    </mat-form-field>

                    <div fxLayout="row">
                        <button mat-raised-button
                                color="primary"
                                type="submit"
                                [disabled]="form.invalid"
                                fxFlex
                                i18n="@@login.submit">LOGIN</button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
