<div class="login-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="flex-item login-content">
        <md-progress-bar
                mode="indeterminate"
                color="accent"
                *ngIf="loading$ | async"></md-progress-bar>
        <i class="loading-holder" *ngIf="!(loading$ | async)"></i>
        <md-card>
            <div class="flex-item logo">
                <img src="/assets/images/logo.png" alt=""/>
            </div>

            <md-card-title i18n>Sign In</md-card-title>
            <md-card-subtitle *ngIf="(error$ | async) && !closeError">
                <mh-notifybox
                        [message]="error$ | async"
                        [type]="error">
                </mh-notifybox>
            </md-card-subtitle>
            <md-card-content>
                <form
                      (ngSubmit)="submit()"
                      [formGroup]="form"
                      novalidate
                      fxLayout="column"
                      autocomplete="off">

                    <md-input-container fxFlex="100">
                        <input mdInput
                               required
                               placeholder="Username"
                               i18n-placeholder
                               autocorrect="off"
                               autocapitalize="off"
                               spellcheck="off"
                               formControlName="username"
                               [class.invalid]="form.controls.username?.errors && form.controls.username?.dirty"
                               (keyup)="onKey($event)"
                               (focus)="initForm()">
                    </md-input-container>

                    <md-input-container fxFlex="100">
                        <input mdInput
                               type="password"
                               placeholder="Password"
                               i18n-placeholder
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off"
                               spellcheck="off"
                               formControlName="password"
                               [class.invalid]="form.controls.password?.errors && form.controls.password?.dirty"
                               (keyup)="onKey($event)">
                    </md-input-container>

                    <div>
                        <button md-raised-button
                                color="primary"
                                type="submit"
                                [disabled]="form.invalid"
                                i18n>Login</button>
                    </div>

                </form>
            </md-card-content>
        </md-card>
    </div>
</div>
