<div class="mh-search-box" layout="row" layout-align="end center">
    <button md-icon-button type="button" class="mh-search-icon" flex="none" (click)="searchClicked()">
        <md-icon *ngIf="searchVisible">{{backIcon}}</md-icon>
        <md-icon *ngIf="!searchVisible">search</md-icon>
    </button>
    <md-input-container flex *ngIf="searchVisible">
        <input mdInput
               placeholder="Suche..."
               type="search"
               [mdAutocomplete]="auto"
               (blur)="handleBlur()"
               (search)="handleSearch($event)"
               (keyup)="handleSearch($event)"
               (searchDebounce)="handleSearchDebounce($event)"
               (clear)="handleClear(); toggleVisibility()"
               style="width:100%">
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let item of items"
                   [value]="item.id"
                   [routerLink]="['/person/view', item.id]">
            <img md-list-avatar src="{{item.avatarUrlSmall}}" alt="..." class="svg-ic_rounded_corner_24px">
            <span style="padding-left: 4px">{{ item.fullName }}</span>
        </md-option>
    </md-autocomplete>
</div>