:host {
  display: block;
}
.mh-search-box {
  width: 100%;
  md-input-container {
    width: 80%;
    /deep/ {
      .md-input-placeholder.md-focused {
        visibility: hidden;
      }
    }
  }
}