<!--<button md-fab (click)="openDialog()" style="position: fixed; z-index: 99999;right: 5px;"><md-icon>add</md-icon></button>-->
<form class="note-form"
      [formGroup]="noteForm"
      novalidate
      (ngSubmit)="save(noteForm.value, noteForm.valid)">
    <md-card class="notes" fxLayout="column">
        <md-card-content>
            <md-input-container fxFlex fxFill>
                <textarea mdInput
                          mdTextareaAutosize
                          formControlName="text"
                          placeholder="Write a note"
                          i18n-placeholder
                          (click)="showTypes()"></textarea>
            </md-input-container>
            <!--<div class="mat-input-wrapper">
                <md-checkbox>Private</md-checkbox>
                <md-input-container>
                    <input mdInput type="datetime-local" placeholder="Due On" />
                </md-input-container>
                <md-input-container>
                    <input mdInput type="text" placeholder="Assign to" />
                </md-input-container>
            </div>-->
        </md-card-content>
        <md-card-actions *ngIf="showTypeSelector" fxFlex>
            <md-button-toggle-group #group="mdButtonToggleGroup" formControlName="type">
                <md-button-toggle value="{{noteType.id}}"
                                  mdTooltip="{{noteType.type}}"
                                  *ngFor="let noteType of noteTypes">
                    <md-icon>{{noteType.iconString}}</md-icon>
                </md-button-toggle>
            </md-button-toggle-group>
            <button md-raised-button type="submit" [disabled]="!noteForm.valid" i18n>Note it!</button>
        </md-card-actions>
    </md-card>
</form>
<div class="notes">
    <md-card fxFlex *ngFor="let note of notes">
        <md-card-header>
            <md-icon md-card-avatar>{{note.icon}}</md-icon>
            <md-card-subtitle>
                {{note.createdAt | date: 'medium'}}
                - <span i18n>by</span> <a *ngIf="!iOwn(note.ownerId)">{{note.authorName}}</a>
                <span *ngIf="iOwn(note.ownerId)" i18n>me</span>
            </md-card-subtitle>
        </md-card-header>
        <md-card-content>{{note.text}}</md-card-content>
        <md-card-actions *ngIf="iOwn(note.ownerId)" fxLayoutAlign="end">
            <button md-icon-button><md-icon>edit</md-icon></button>
            <button md-icon-button color="warn" (click)="deleteNote(note.id)"><md-icon>delete</md-icon></button>
        </md-card-actions>
    </md-card>
</div>