<!--<button md-fab (click)="openDialog()" style="position: fixed; z-index: 99999;right: 5px;"><md-icon>add</md-icon></button>-->
<div class="notes">
    <md-card  *ngFor="let note of notes">
        <md-card-header fxLayout="row">
            <div fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
                <md-icon md-card-avatar>{{note.icon}}</md-icon>
                <md-card-subtitle>
                    {{note.createdAt | date: 'medium'}}
                    - <span i18n>by</span>
                    <a *ngIf="!iOwn(note.authorId)">{{note.authorName}}</a>
                    <span *ngIf="iOwn(note.authorId)" i18n>me</span>
                </md-card-subtitle>
            </div>
            <md-card-actions *ngIf="iOwn(note.authorId)">
                <button md-icon-button (click)="openDlgInteractions(note)"><md-icon>edit</md-icon></button>
                <button md-icon-button color="warn" (click)="deleteNote(note)"><md-icon>delete</md-icon></button>
            </md-card-actions>
        </md-card-header>
        <md-card-content>{{note.text}}</md-card-content>
    </md-card>
</div>