<form class="interaction-form"
      [formGroup]="form"
      novalidate
      (ngSubmit)="save(form.value, form.valid)">

  <md-card>
    <md-card-content>
      <div class="mat-input-wrapper muted" *ngIf="editMode">
        <b i18n>Created:</b> {{interaction.createdAt}},
        <b i18n>Updated:</b> {{interaction.updatedAt}}
      </div>

      <mh-tinymce [elementId]="'interaction-editor'"
                  [inline]="false"
                  formControlName="text"></mh-tinymce>
      <md-error *ngIf="!form.get('text').valid && !form.get('text').pristine"
                class="mat-input-wrapper m-b-10"
                i18n>
        A text is required
      </md-error>

      <div class="mat-input-wrapper m-b-10" fxFlex>
        <label i18n for="typeSelect">Type:</label>
        <md-button-toggle-group id="typeSelect" formControlName="type">
          <md-button-toggle value="{{interactionType.type}}"
                            mdTooltip="{{interactionType.type | uppercase}}"
                            *ngFor="let interactionType of options.interaction.types">
            <md-icon>{{interactionType.iconString}}</md-icon>
          </md-button-toggle>
        </md-button-toggle-group>
        <md-error *ngIf="!form.get('type').valid && !form.get('type').pristine" i18n>
          You need to supply a type
        </md-error>
      </div>

      <div class="mat-input-wrapper" fxFlex fxLayout="row">
        <md-select placeholder="Relates to" i18n-placeholder formControlName="owner">
          <md-option *ngFor="let person of people$ | async" [value]="person.uid">
            {{person.fullName}}
          </md-option>
        </md-select>

        <md-select placeholder="Assign to" i18n-placeholder formControlName="recipients" multiple>
          <md-option *ngFor="let person of people$ | async" [value]="person.uid">
            {{person.fullName}}
          </md-option>
        </md-select>
        <md-error *ngIf="!form.get('owner').valid && !form.get('owner').pristine" i18n>
          Please supply an interaction owner
        </md-error>
        <md-error *ngIf="!form.get('recipients').valid && !form.get('recipients').pristine" i18n>
          You need to have at least one recipient
        </md-error>
      </div>

      <div>
        <md-select class="option-select"
                   formControlName="visibility"
                   placeholder="Visible to"
                   i18n-placeholder>
          <md-option *ngFor="let item of visibility" [value]="item.id">
            <md-icon *ngIf="item.icon !== ''">{{item.icon}}</md-icon>
            {{item.text}}
          </md-option>
        </md-select>
        <md-input-container>
          <input [mdDatepicker]="minDatePicker"
                 mdInput
                 placeholder="Complete by"
                 i18n-placeholder
                 formControlName="dueOn">
          <button mdSuffix [mdDatepickerToggle]="minDatePicker"></button>
        </md-input-container>
        <md-datepicker #minDatePicker></md-datepicker>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button
              type="submit"
              class="mh-submit"
              [disabled]="!form.valid">
        <span *ngIf="!editMode" i18n>NOTIFY</span>
        <span *ngIf="editMode" i18n>UPDATE</span>
      </button>
      <button md-raised-button
              md-button
              (click)="clearForm()"
              *ngIf="!editMode"
              i18n>
        <md-icon>clear</md-icon> CLEAR</button>
      <button md-button
              (click)="returnRoute()"
              i18n>
        <md-icon>arrow_back</md-icon> CANCEL</button>
    </md-card-actions>
  </md-card>

</form>
<pre *ngIf="error">{{ error | json }}</pre>