:host {
  display: block;
}
.mh-search-box {
  width: 100%;
  md-input-container {
    width: 95%;
    /deep/ {
      .md-input-placeholder {
        visibility: hidden;
      }
    }
    md-icon {
      padding-right: 10px;
    }
  }
  /deep/ .mat-input-table {
    background: rgba(0, 0, 0, 0.22);
    border-radius: 2px;
    padding: 6px;
  }
}
.item {
  padding-top: 5px;
  padding-bottom: 5px;

  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .text {
    padding-left: 4px;
    vertical-align: top;
  }

}