<div class="mh-search-box" fxFlex>
    <md-input-container floatPlaceholder="never">
        <md-icon mdPrefix>search</md-icon>
        <input mdInput
               type="search"
               [mdAutocomplete]="auto"
               [formControl]="itemCtrl"
               (keyup)="search(term.value)"
               (clear)="toggleVisibility()" #term>
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let item of items | async"
                   [value]="item"
                   class="item"
                   (click)="resultClicked(item)">
            <img src="{{item.icon}}" alt="...">
            <span class="text">{{ item.text }}</span>
        </md-option>
    </md-autocomplete>
</div>