@import "reset";
$image-width: 90px;
$image-padding: 2px;
$image-height: $image-width + 2*$image-padding;

$margin-left: 0;
$margin-right: 0;

$margin-top: 10mm;
$margin-bottom: 5mm;//+1.5mm so it don't overflow

$page-width: 148mm - $margin-left - $margin-right;
$page-height: 210mm - $margin-top - $margin-bottom;

html, body {
  background-color: white !important;
  margin: 0;
  font-size: 11px;
  line-height: 120%;
  font-family: 'Tinos';
}

.person-list {
  $list-width: $page-width - 20mm; //- padding
  $avatar-width: $image-width + 2*$image-padding;
  
  display: flex;
  flex-direction: column;
  max-width: $list-width;
  width: $page-width;
  padding-left: 10mm;
  padding-right: 10mm;
  overflow: hidden;
  .item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
    white-space: normal;
    width: $list-width;
    .avatar {
      width: $avatar-width;
      padding: $image-padding;
      
      .image {
        height: $image-height;
        width: $image-height;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 8px;
      }
    }
    .text  {
      display: flex;
      flex-direction: column;
      padding-left: 2mm;
      width: $list-width - $avatar-width - 2mm;
      .top {
        display: flex;
        flex-grow: 3;
        flex-direction: row;
        padding-top: 0.5em;
        .info {
          .name {
            font-weight: 700;
            margin-bottom: 2px;
          }
          width: 180px;
        }
        
        .dates {
          width: 90px;
        }
        
        .contact {
        }
      }
      
      .bottom {
        align-self: flex-end;
        width: $list-width - $avatar-width - 10px;
        padding-right: 5px;
        padding-bottom: 3px;
      }
    }
  }
  //HACK to make unbreakble inside of items
  .unbreakable {
    page-break-inside: avoid !important;
    display:inline-block;
  }
  .unbreakable:after {
    content: '';
    display:block;
    height:0px;
    visibility: hidden;
  }
}



.cover-front {
  display: block;
  width: $page-width;
  height: $page-height - 6mm;
  page-break-after: always;
  page-break-inside: avoid;

  background-image: url('https://unsplash.it/1748/2480?image=987');
  background-size: cover;
  .logo {
    background-image: url('http://www.ecg-berlin.de/templates/boothtml5/images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 150px;
    margin-top: 30px;
    margin-right: 5em;
    float: right;
  }
  .title {
    padding-top: 620px;
    text-align: right;
    padding-right: 5em;
    .name {
      font-size: 28px;
      color: white;
    }
    .date {
      font-size: 16px;
      padding-top: 1em;
      color: white;
    }
  }
}
.cover-back {
  display: block;
  width: $page-width;
  height: $page-height - 6mm;
  page-break-before: always;
  page-break-after: always;
  page-break-inside: avoid;
  background-image: url('https://unsplash.it/1748/2480?image=987');
  background-size: cover;

}

