.date-rounded {
  font-weight: 600;
  font-size: 14px;
  background: #ff4081;
  color: #fff;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
}
.birthday-notice {
  color: #ff4081;
}
.dashlet-card {
  .mat-card-header {
    .mat-card-title {
      h4 {
        width: 100%;
      }
    }
  }
}