<md-card class="dashlet-card">
    <md-card-header>
        <md-card-title fxLayout="row" fxLayoutAlign="stretch center">
            <h4 i18n>Upcoming birthdays</h4>
            <div>
                <button md-icon-button (click)="settingsDlg()"><md-icon>more_vert</md-icon></button>
            </div>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <div>
            <md-card-subtitle i18n>Today <md-divider></md-divider></md-card-subtitle>
            <p *ngIf="peopleBdToday?.length == 0" i18n>No birthdays today</p>
            <md-nav-list>
                <a md-list-item *ngFor="let person of peopleBdToday" [routerLink]="['/person/view', person.uid]">
                    <md-icon md-list-icon class="birthday-notice">cake</md-icon>
                    <img md-list-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
                    <div md-line>
                        <span>{{person.fullName}}</span>
                    </div>
                    <div><b>{{person.age}}</b></div>
                </a>
            </md-nav-list>
        </div>
        <div>
            <md-card-subtitle><ng-container i18n>Next {{range}} days</ng-container> <md-divider></md-divider></md-card-subtitle>
            <md-nav-list>
                <md-list-item *ngFor="let person of peopleBdRange" [routerLink]="['/person/view', person.uid]">
                    <span md-list-avatar class="date-rounded">{{person.birthday | date: 'MMM d'}}</span>
                    <img md-list-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
                    <div md-line>
                        <span md-line>{{person.fullName}}</span>
                        <span md-line>
                            {{person.birthday | amDifference: now: 'days'}}
                            <ng-container i18n>days</ng-container>
                        </span>
                    </div>
                    <b>{{person.age}}</b>
                </md-list-item>
            </md-nav-list>
        </div>
    </md-card-content>
</md-card>