@import "../../../../theme.scss";

.birthday-notice {
  color: mat-color($mh-app-warn, A200);
}
.dashlet-card {
  .mat-card-header {
    .mat-card-title {
      h4 {
        width: 100%;
      }
    }
  }
}
.mat-line {
  a {
    font-weight: 600;
    color: #122b40;
  }
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
  .mat-button {
    line-height: 22px;
    height: 22px;
  }
}