<form class="interaction-form"
      [formGroup]="form"
      novalidate
      (ngSubmit)="save(form.value, form.valid)">

  <mat-card>
    <mat-card-content>
      <div class="mat-input-wrapper muted" *ngIf="editMode">
        <b i18n>Created:</b> {{refInteraction.createdAt | date: 'medium'}},
        <b i18n>Updated:</b> {{refInteraction.updatedAt | date: 'medium'}}
      </div>

        <div class="mat-input-wrapper m-b-10" fxFlex>
            <label i18n for="typeSelect">Type:</label>
            <mat-button-toggle-group id="typeSelect"
                                    formControlName="type"
                                    (change)="toggleTypes($event)">
                <mat-button-toggle value="{{interactionType.type}}"
                                  matTooltip="{{interactionType.type | uppercase}}"
                                  class="mat-button-toggle {{interactionType.type | lowercase}}"
                                  *ngFor="let interactionType of options.interaction.types">
                    <mat-icon>{{interactionType.iconString}}</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-error *ngIf="!form.get('type').valid && !form.get('type').pristine" i18n>
                You need to supply a type
            </mat-error>
        </div>

        <div class="mat-input-wrapper m-b-10"
             *ngIf="form.get('type').value === 'interaction'"
             fxFlex>
            <mat-select class="option-select"
                       placeholder="Action verb"
                       formControlName="actionType"
                       i18n-placeholder
                       required>
                <mat-option *ngFor="let verb of actionVerbs" [value]="verb">
                    {{verb}}
                </mat-option>
            </mat-select>
        </div>

      <mh-tinymce [elementId]="'interaction-editor'"
                  [inline]="false"
                  formControlName="text"></mh-tinymce>
      <mat-error *ngIf="!form.get('text').valid && !form.get('text').pristine"
                class="mat-input-wrapper m-b-10"
                i18n>
        A text is required
      </mat-error>

      <div class="mat-input-wrapper" fxFlex fxLayout="row">
        <mat-select placeholder="Relates to" i18n-placeholder
                   formControlName="owner"
                   [required]="form.get('type').value !== 'interaction'">
          <mat-option *ngFor="let person of people$ | async" [value]="person.uid">
            {{person.fullName}}
          </mat-option>
        </mat-select>

        <mat-select *ngIf="form.get('type').value === 'interaction'"
                   formControlName="recipients"
                   placeholder="Assign to"
                   i18n-placeholder
                   multiple
                   required
                   fxFlex>
          <mat-option *ngFor="let person of people$ | async" [value]="person.uid">
            {{person.fullName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!form.get('owner').valid && !form.get('owner').pristine" i18n>
          Please supply an interaction owner
        </mat-error>
        <mat-error *ngIf="!form.get('recipients').valid && !form.get('recipients').pristine" i18n>
          You need to have at least one recipient
        </mat-error>
      </div>

      <div>
        <mat-select class="option-select"
                   formControlName="visibility"
                   placeholder="Visible to"
                   i18n-placeholder>
          <mat-option *ngFor="let item of visibility" [value]="item.id">
            <mat-icon *ngIf="item.icon !== ''">{{item.icon}}</mat-icon>
            {{item.text}}
          </mat-option>
        </mat-select>
        <mat-form-field>
          <input [matDatepicker]="minDatePicker"
                 matInput
                 placeholder="Complete by"
                 i18n-placeholder
                 formControlName="dueOn">
          <mat-datepicker-toggle matSuffix [for]="minDatePicker"></mat-datepicker-toggle>
        </mat-form-field>
        <mat-datepicker #minDatePicker></mat-datepicker>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              type="submit"
              class="mh-submit"
              [disabled]="!form.valid">
        <span *ngIf="!editMode" i18n>NOTIFY</span>
        <span *ngIf="editMode" i18n>UPDATE</span>
      </button>
      <button mat-raised-button
              mat-button
              (click)="clearForm()"
              *ngIf="!editMode"
              i18n>
        <mat-icon>clear</mat-icon> CLEAR</button>
      <button mat-button
              (click)="returnRoute()"
              i18n>
        <mat-icon>arrow_back</mat-icon> CANCEL</button>
    </mat-card-actions>
  </mat-card>

</form>
<pre *ngIf="error">{{ error | json }}</pre>
