.highlight {
  background-color: accent-color('100') !important;
  color: primary-color('600');
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}
.person-view {
  .note-add {
    button {
      min-width:48px !important;
    }
  }
}

.person-import-example > span {
  background-color: background-color('100') !important;
  color: primary-color('600');
  border: 1px darken(background-color('100'), 5%);
  padding: 5px;
}

.person-list-item {
  .text {
    margin-left: 1em;
  }
  .more {
    margin-left: 1em;
  }
}

.img-circle {
  border-radius: 50%;
}


#avatar_preview {
  max-width: 300px;
  max-height: 300px;
}

.person-search {
  span.query {
    color: primary-color('500');
  }
  span.externQuery {
    color: primary-color('500');
  }
  span.value {
  }
  span.logic {
    color: accent-color('500');
  }
  span.unaryLogic {
    color: accent-color('500');
  }
}

.angular-google-map-container {
  height: 800px;

}
