<div class="flex-container" fxLayout='column'>
    <md-card class="flex-item" fxFlex fxFlexFill>
        <md-input-container>
            <input mdInput
                   placeholder="Suche..."
                   type="search">
        </md-input-container>
    </md-card>

    <div *ngFor="let person of persons">
        <md-card>
            <md-card-header>
                <img md-card-avatar src="{{person.avatar}}" alt="..." />
                <md-card-title>
                    <a [routerLink]="['/person/view', person.id]">{{person.fullName}}</a>
                    <span><md-icon class="md-10">email</md-icon> {{person.birthday | date: 'dd/MM/yyyy'}}</span>
                    <span md-line="">{{person.email}}</span>
                </md-card-title>
                <md-card-subtitle>
                    <md-chip-list>
                        <md-chip>Mitglied</md-chip>
                        <md-chip>Begrüßungsdienst</md-chip>
                    </md-chip-list>
                </md-card-subtitle>
            </md-card-header>
        </md-card>
        <md-divider></md-divider>
    </div>

</div>