@import "theme";
@import "layout";

html, body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #e0e0e0 !important;
  font-family: $mat-font-family;
  color: #202020;
}
mh-app {
  height: 100%;
  width: 100%;
}
.shout-success {
  background: mat-color($mh-app-green, 500) !important;
}
.shout-failure {
  background: mat-color($mh-app-warn, A400) !important;
}
.date-rounded {
  font-weight: 600;
  font-size: 14px;
  background: mat-color($mh-app-warn, A200);
  color: #fff;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
}

/** Hacks, until Material2 allows changes to these classes from component level **/
.mat-autocomplete-panel {
  max-width: none !important;
}
.dashlet-card {
  .mat-card-header {
    .mat-card-header-text {
      width: 100% !important;
    }
  }
}
.mat-fab.mat-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  z-index: 100;
}

/** input fields of type search display wrong in Safari (see https://github.com/angular/material2/issues/5008) **/
input[type="search"] {
  -webkit-appearance: none;
}

.main-content {
  padding: 0.8em;
  box-sizing: border-box;
}
.mat-icon.md-icon-logo {
  width: 38px;
}
.mh-layout-manage-list {
  .mat-sidenav {
    background: rgb(56, 53, 53);
    .list {
      .mat-nav-list {
        background: rgb(56, 53, 53);
        .mat-list-item, .mat-icon {
          color: #ffffff;
          h4 {
            font-size: 16px;
          }
        }
      }
    }
    .mat-divider {
      border-top-color: #666;
    }
  }
}

/* Layout related styles */
md-toolbar {
  [md-button] {
    &:first-of-type:not(:last-child) {
      margin-left: -6px;
      [dir='rtl'] & {
        margin-right: -6px;
        margin-left: 0;
      }
    }
    &:last-of-type:not(:first-child) {
      margin-right: -6px;
      [dir='rtl'] & {
        margin-left: -6px;
        margin-right: 0;
      }
    }
  }
  .md-icon-logo {
    margin-right: 10px;
    [dir='rtl'] & {
      margin-left: 10px;
      margin-right: 0;
    }
  }
  [md-icon-button] {
    margin: 0 6px;
  }
}

// Overall app layout height
md-sidenav-container {
  & > md-content,
  & > [md-content],
  & > .md-content {
    height: 100%;
    overflow: hidden;
  }
}
md-content,
[md-content],
.md-content {
  display: block;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  &[md-scroll-y] {
    overflow-y: auto;
    overflow-x: hidden;
  }
  &[md-scroll-x] {
    overflow-x: auto;
    overflow-y: hidden;
  }
  // For iOS allow disabling of momentum scrolling
  &.autoScroll {
    -webkit-overflow-scrolling: auto;
  }
}