@import "theme";

html, body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #f5f5f5;
  font-family: $mat-font-family;
  color: #202020;
}
mh-app {
  height: 100%;
  width: 100%;
}

.shout-success {
  background: mat-color($mh-app-green, 500) !important;
}
.shout-warn {
  background: mat-color($mh-app-warn, A400) !important;
}

.date-rounded {
  font-weight: 600;
  font-size: 14px;
  background: mat-color($mh-app-warn, A200);
  color: #fff;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
}

/** Hacks, until Material2 allows changes to these classes from component level **/
.mat-autocomplete-panel {
  max-width: none !important;
}
.dashlet-card {
  .mat-card-header {
    .mat-card-header-text {
      width: 100% !important;
    }
  }
}