@import './styles/elevation';
@import './styles/theme-functions';

@mixin mh-layout-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-sidenav-container {
    background-color: mat-color($background, status-bar);
  }

  mh-layout-nav,
  mh-layout-nav-list,
  mh-layout-manage-list,
  mh-layout-card-over,
  td-navigation-drawer,
  mh-layout {
    md-toolbar {
      @include mat-elevation(1);
      z-index: 1;
    }
  }
  .mat-sidenav-side.mh-layout-sidenav {
    @include mat-elevation(2);
  }
  .mh-layout-footer {
    background: mat-color($background, app-bar);
    color: mat-color($foreground, text);
    @include mat-elevation(2);
  }
}