:host {
  display: block;
}
.mh-search-box {
  width: 100%;
  mat-form-field.active {
    background: #fff;
    color: #000;
    mat-icon {
      color: inherit;
    }
  }
  mat-form-field {
    width: 98%;
    background: rgba(0, 0, 0, 0.22);
    border-radius: 2px;
    padding-right: 8px;
    /deep/ {
      .mat-icon {
        font-size: 130%;
      }
      .mat-input-wrapper {
        padding: 0 !important;
      }
      .mat-input-infix {
        border-top-width: 0 !important;
      }
      .mat-input-prefix {
        padding-left: 8px;
        padding-right: 40px;
      }
      .mat-input-placeholder-wrapper {
        top: -0.75375em !important;
      }
      .mat-input-placeholder {
        color: rgba(255, 255, 255, 0.38) !important;
      }
      .mat-input-underline {
        display: none;
      }
    }
    .mat-icon {
      position: absolute;
      color: #fff;
      top: 8px;
    }
    .mat-spinner {
      width: 36px;
      height: 26px;
      position: absolute;
      top: 8px;
    }
  }
}
.item {
  padding-top: 5px;
  min-height: 54px;
  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .text {
    padding-left: 4px;
    vertical-align: top;
  }
}
