<mat-card class="dashlet-card">
    <mat-card-header>
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
            <h3 i18n="@@birthday.upcoming">Upcoming Birthdays</h3>
            <div>
                <button mat-icon-button matTooltip="move dashlet">
                    <mat-icon class="handle">tab_unselected</mat-icon>
                </button>
                <button mat-icon-button (click)="settingsDlg()"><mat-icon>more_vert</mat-icon></button>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-card-subtitle><span i18n="@@today">Today</span> <mat-divider></mat-divider></mat-card-subtitle>
            <p *ngIf="peopleBdToday?.length == 0" i18n="@@birthday.none">No birthdays today</p>
            <mat-list>
                <mat-list-item *ngFor="let person of peopleBdToday">
                    <mat-icon mat-list-icon class="birthday-notice">cake</mat-icon>
                    <img mat-list-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
                    <div matLine>
                        <span>{{person.fullName}}</span>
                    </div>
                    <div matLine>
                        <a [routerLink]="['/person/view', person.uid]" i18n="@@btn.view">view</a> |
                        <a href="javascript:void(0)"
                           (click)="interactionsDlg(person)"
                           i18n="@@btn.interactions">interaction</a>
                    </div>
                    <div><b>{{person.age}}</b></div>
                </mat-list-item>
            </mat-list>
        </div>
        <div>
            <mat-card-subtitle>
                <ng-container i18n="@@date.range">Next {{range}} days</ng-container>
                <mat-divider></mat-divider>
            </mat-card-subtitle>
            <mat-list>
                <mat-list-item *ngFor="let person of peopleBdRange">
                    <span mat-list-avatar class="date-rounded">{{person.birthday | date: 'MMM d'}}</span>
                    <img mat-list-avatar src="{{person.avatar}}" alt="{{person.fullName}}" />
                    <div matLine>
                        <span matLine>
                            {{person.fullName}} (<i>{{birthdayIn(person.birthday)}}</i>)
                        </span>
                        <span matLine>
                            <a [routerLink]="['/person/view', person.uid]" i18n="@@btn.view">view</a> |
                            <a href="javascript:void(0)"
                               (click)="interactionsDlg(person)"
                               i18n="@@btn.remind">reminde me</a>
                        </span>
                    </div>
                    <b>{{person.age + 1}}</b>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
</mat-card>