@import "../../theme.scss";

.note {
  color: mat-color($mh-app-accent, A400);
}
.interaction {
  color: mat-color($mh-app-warn, 400);
}
.meeting {
  color: mat-color($mh-app-primary, 900);
}
.phone {
  color: mat-color($mh-app-primary, A700);
}
.email {
  color: mat-color($mh-app-accent, 300);
}
.mat-select {
  min-width: 200px;
  margin-right: 10px;
}