<md-list>
  <md-list-item
    ng-repeat="household in householdCtrl.households track by $index"
    flex layout="row"
    class="person-list-item"
  >
    <a ui-sref="person.household-edit({ householdId: household.id })">
      {{household.name}}
    </a>
    <md-button ng-click="householdCtrl.deleteHousehold(household)">
      <ng-md-icon icon="delete"></nd-md-icon>
    </md-button>
  </md-list-item>
</md-list>
<a ui-sref="person.household-create">
  <md-button class="md-fab md-fab-floating-br md-accent">
    <md-tooltip md-direction="top">
      <translate>Add new household</translate>
    </md-tooltip>
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
</a>
