<div layout="column" class="mh-content">
  <md-input-container>
    <label>Title</label>
    <input ng-model="noteCtrl.note.title" required>
  </md-input-container>
  
  <md-input-container>
    <label translate>Tags</label>
    <mh-tags ng-model="noteCtrl.note.tags" source="Note"></mh-tags>
  </md-input-container>
  
  <div>
    <mh-search-chips ng-model="noteCtrl.note.shared"></mg-search-chips>
  </div>
  <md-input-container>
    <label>Notiz</label>
    <textarea ng-model="noteCtrl.note.content" columns="2" ></textarea>
  </md-input-container>
</div>

<div layout="row">
  <md-button class="md-primary" ng-click="noteCtrl.save()">
    <translate>Save</translate>
  </md-button>
  <md-button ng-click="noteCtrl.close()">
    <translate>Close</translate>
  </md-button>
</div>

