<div class="mh-content" ng-controller="PersonExportVCardController as personCtrl">
  <h2 translate> VCard Export </h2>
  <p translate> You can download all the contacts saved in Memberhive in the vCard Format.</p>
  <p translate> You can use the resulting file to import in Google, iCloud and many more.</p>

  <div layout="column">
   <mh-person-search ng-model="personCtrl.query" query-model="exportCtrl.queryModel"></mh-person-search>
  </div>

  <md-button class="md-primary md-raised" ng-click="personCtrl.getAllVCard()">
    <translate>Download all in VCard</translate>
  </md-button>
</div>
