<form name="personEdit" novalidate layout="column">
  <md-tabs flex md-dynamic-height md-border-bottom class="md-default-theme">
    <md-tab>
      <md-tab-label>
        <ng-md-icon icon="account_box"></ng-md-icon> <translate> Personal</translate>
      </md-tab-label>
      <md-tab-body class="md-padding">
        <div class="tab-personal" ng-include="'app/modules/person/views/person.edit.tab.personal.html'"></div>
      </md-tab-body>
    </md-tab>


    <md-tab>
      <md-tab-label>
        <ng-md-icon icon="directions"></ng-md-icon> <translate>Addresses</translate>
      </md-tab-label>
      <md-tab-body class="md-padding">
        <div class="tab-addresses" ng-include="'app/modules/person/views/person.edit.tab.addresses.html'"></div>
      </md-tab-body>
    </md-tab>


    <md-tab>
      <md-tab-label>
        <ng-md-icon icon="photo"></ng-md-icon> <translate>Avatar</translate>
      </md-tab-label>
      <md-tab-body class="md-padding">
        <div class="tab-avatar" ng-include="'app/modules/person/views/person.edit.tab.avatar.html'"></div>
      </md-tab-body>
    </md-tab>


    <md-tab>
      <md-tab-label>
        <ng-md-icon icon="security"></ng-md-icon><translate>Roles</translate>
      </md-tab-label>
      <md-tab-body class="md-padding">
        <div class="tab-roles" ng-include="'app/modules/person/views/person.edit.tab.roles.html'"></div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
  <div layout="row">
      <md-button ng-click="personCtrl.goPreviousPerson()" hide-xs keyboard-shortcut="left">
        <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
        <translate>Previous</translate></md-button>
      <md-button ng-click="personCtrl.goNextPerson()" hide-xs keyboard-shortcut="right">
        <translate>Next</translate>
        <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
      </md-button>
      <div flex></div>
      <md-button ng-click="personCtrl.saveAndClose()"><translate>Save &amp; Close</translate></md-button>
      <md-button ng-click="personCtrl.saveAndNew()"><translate>Save &amp; New</translate></md-button>
      <md-button id="mh-person-edit-save" class="md-primary" ng-click="personCtrl.saveWithNotification()" keyboard-shortcut="alt+s" keyboard-prevent-default>
        <ng-md-icon icon="save"></ng-md-icon>
        <translate>Save</translate>
      </md-button>
  </div>
</form>
