<div flex layout="row" layout-align="center center">
  <a ui-sref="person.edit({ id: personCtrl.person.id })">
    <mh-avatar
      person="personCtrl.person"
      size="s"
      circle
      class="avatar">
    </mh-avatar>
  </a>
</div>

<div flex layout="column" layout-gt-sm="row">
  <div flex-gt-sm="50" layout="column">
    <div class="mh-content">
      <div class="person-view-top">
        <div layout="row">
          <h1 flex>
            {{personCtrl.person.fullName}}
          </h1>
        </div>
        <div class="md-padding" ng-if="personCtrl.person.status.length">
          <ng-md-icon size="24" icon="label"></ng-md-icon>
          <span ng-repeat="status in personCtrl.person.status" class="tag status-tag" style="margin-right: 2px">
            {{ status }}
          </span>
          <span ng-repeat="tag in personCtrl.person.tags" class="tag">
              <md-chip>{{tag}}</md-chip>
          </span>
        </div>
      </div>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="(name,value) in personCtrl.person.contacts">
          <ng-md-icon icon="call" ng-if="$index === 0"></ng-md-icon>
          <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
            <h3> {{ value }} </h3>
            <p> {{ name }} </p>
          </div>
        </md-list-item>

        <md-list-item class="md-2-line" ng-repeat="address in personCtrl.person.addressList">
          <ng-md-icon icon="place" ng-if="$index === 0"></ng-md-icon>
          <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
            <p>
              <a href="http://maps.google.de/maps?q={{address.value}}&t=h&z=17" target="_blank">
                {{ address.value }}
              </a>
            </p>
            <p> {{ address.name }} </p>

          </div>
        </md-list-item>

        <md-list-item class="md-2-line" ng-if="personCtrl.person.emails.personal">
          <ng-md-icon icon="email" ></ng-md-icon>
          <div class="md-list-item-text">
            <h3> {{ personCtrl.person.emails.personal }} </h3>
            <p> EMail </p>
          </div>
        </md-list-item>

        <md-list-item class="md-2-line" ng-repeat="(name, value) in personCtrl.person.dates">
          <ng-md-icon icon="cake" ng-if="$index === 0"></ng-md-icon>
          <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
            <h3> {{ value | date: 'longDate'}} </h3>
            <p> {{ name }} </p>
          </div>
        </md-list-item>

         <md-list-item class="md-2-line" ng-repeat="group in personCtrl.person.groups">
          <ng-md-icon icon="people_outline" ng-if="$index === 0"></ng-md-icon>
          <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
            <a ui-sref="group.view({id: group.id})">{{group.name}}</a>
          </div>
        </md-list-item>

        <md-list-item class="md-2-line" ng-if="personCtrl.person.household.length > 0">
          <ng-md-icon icon="home"></ng-md-icon>
          <div class="md-list-item-text">
            <span ng-repeat="household in personCtrl.person.household">
               <a ui-sref="person.household-edit({householdId: household.id})">{{household.name}}</a>
            </span>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>

  <div class="mh-content" flex-gt-sm="50" layout="column">
    <div layout="row">
      <h2 translate> Notes </h2>
      <div flex></div>
      <md-button ng-click="personCtrl.toggleNote()">
        <ng-md-icon icon="add"></ng-md-icon>
        <translate ng-hide="personCtrl.showAddNote">Add Note</translate>
        <translate ng-show="personCtrl.showAddNote">Cancel</translate>
      </md-button>
    </div>
    <div ng-show="personCtrl.showAddNote" class="md-whiteframe-2dp mh-content" layout-padding>
      <mh-note-create-inline
        notable-type="Person"
        notable-id="{{personCtrl.person.id}}"
        new-note="personCtrl.newNote(note)">
      </mh-note-create-inline>
    </div>

    <md-list>
      <md-list-item ng-repeat="note in personCtrl.notes">
        <md-menu>
          <md-button aria-label="Open menu" class="md-icon-button md-action-icon-button" ng-click="$mdOpenMenu($event)">
            <ng-md-icon icon="{{personCtrl.icon(note.type)}}" ng-if="note.type"></ng-md-icon>
            <ng-md-icon icon="chat" ng-if="!note.type"></ng-md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="personCtrl.deleteNote(note)">
                <ng-md-icon icon="delete"></ng-md-icon>
                <translate>Delete</translate>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <div flex class="md-list-item-text">
          <p>
            <b>{{note.title}}</b>
            <small><span am-time-ago="note.created"></span></small>
          </p>
          <p>{{note.content}}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </div>
</div>
<div layout="row">
  <md-button ng-click="personCtrl.goPreviousPerson()" hide-xs keyboard-shortcut="left">
    <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
    <translate>Previous</translate></md-button>
  <md-button ng-click="personCtrl.goNextPerson()" hide-xs keyboard-shortcut="right">
    <translate>Next</translate>
    <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
  </md-button>
</div>

<a ui-sref="person.edit({ id: personCtrl.person.id })">
  <md-button class="md-fab md-fab-floating-br md-accent">
    <md-tooltip md-direction="top">
      <translate>Edit Person</translate>
    </md-tooltip>
    <ng-md-icon icon="edit"></ng-md-icon>
  </md-button>
</a>
