<div class="mh-content" ng-if="personCtrl.person.hasAvatar">
  <h3 translate>Current Avatar</h3>
  
  <div
    ng-show="!personCtrl.uploadedAvatar || personCtrl.avatarDeleted"
    ngf-drop
    ngf-select
    ng-model="files"
    class="drop-zone"
    ngf-drag-over-class="dragover"
    ngf-multiple="false"
    ngf-allow-dir="false"
    accept="image/*"
    ngf-change="personCtrl.onAvatarSelected($files, $event)">
      <translate>Drop images here or click to upload</translate>
      <md-progress-circular md-mode="indeterminate" ng-show="personCtrl.avatarLoading" md-diameter="96"></md-progress-circular>
  </div>
  
  <div ng-show="personCtrl.uploadedAvatar && !personCtrl.avatarDeleted">
    <div ng-jcrop="personCtrl.uploadedAvatar" selection="personCtrl.avatarSelection"></div>
  </div>  
  
  <div layout="row">
    <md-button ng-click="personCtrl.removeAvatar()"><ng-md-icon icon="delete"></ng-md-icon> Remove Avatar</md-button>
    <md-button ng-click="personCtrl.downloadAvatar()"><ng-md-icon icon="file_download"></ng-md-icon> Download Avatar</md-button>
  </div>
  
 
</div>
