$md-mh-blue: (
        50 : #ebf2f8,
        100 : #cddded,
        200 : #acc7e2,
        300 : #8bb1d6,
        400 : #72a0cd,
        500 : #598fc4,
        600 : #5187be,
        700 : #487cb6,
        800 : #3e72af,
        900 : #2e60a2,
        A100 : #e6f0ff,
        A200 : #b3d2ff,
        A400 : #80b4ff,
        A700 : #67a5ff,
        contrast: (
                50 : $black-87-opacity,
                100 : $black-87-opacity,
                200 : $black-87-opacity,
                300 : $black-87-opacity,
                400 : $black-87-opacity,
                500 : white,
                600 : white,
                700 : white,
                800 : $white-87-opacity,
                900 : $white-87-opacity,
                A100 : $black-87-opacity,
                A200 : white,
                A400 : white,
                A700 : white,
        )
);