@import "theme";

html, body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #f5f5f5;
  font-family: $mat-font-family;
  color: #202020;
}
mh-app {
  height: 100%;
  width: 100%;
}

.shout-success {
  background: #5a9b35 !important;
}
.shout-warn {
  background: #d32f2f !important;
}
